<!DOCTYPE html>
<html>
<head>
    <title wms:text="${wms.inbound.title}">入库单</title>
    <head th:replace="common/head" />
    <script th:replace="common/js" />
    <script type="text/javascript" th:src="@{/js/codelkupList?listName=INBOUNDTYPE,INBOUNDSTATUS,LOCATIONTYPE,TASKSTATUS,UOM}"></script>
</head>
<body class="easyui-layout" style="opacity: 1;" >
	<div class="icon-loading" style="position: absolute; z-index: 999999;width: 100%; height: 100%;opacity: 1;background-color: white;" >&nbsp;</div>
	<div data-options="region:'west',collapsible:true" wms:title="${web.label.search.title}" style="width:200px;">
		<div id="searchDiv" class="easyui-layout" style="height: 100%;">
			<div style="margin-left: 10px;height: 100%;" data-options="region:'center',border:false" >
				<form id="searchForm" data-table="#inboundData" >
					<div style="margin-bottom:10px">
						<input name="inboundNumber" class="easyui-textbox" wms:data-options="label:'${web.label.inboundnumber}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input name="sourceNumber" class="easyui-textbox" wms:data-options="label:'${web.label.sourcenumber}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input name="ownerCode" class="easyui-textbox" wms:data-options="label:'${web.label.owner}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input class="easyui-combobox" name="type" wms:data-options="
						data: codelkups['INBOUNDTYPE'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.type}',
						labelPosition: 'top'
						" />
					</div>
					<div style="margin-bottom:10px">
						<input class="easyui-combobox" name="status" wms:data-options="
						data: codelkups['INBOUNDSTATUS'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.status}',
						labelPosition: 'top'
						">
					</div>
					<div style="margin-bottom:10px">
						<input name="createTimeBegin" class="easyui-datebox" wms:data-options="label:'${web.label.createtimebegin}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input name="createTimeEnd" class="easyui-datebox" wms:data-options="label:'${web.label.createtimeend}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input name="expectedInboundDateBegin" class="easyui-datebox" wms:data-options="label:'${expectedInbounddatebegin}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input name="expectedInboundDateEnd" class="easyui-datebox" wms:data-options="label:'${expectedInbounddateend}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input name="inboundDateBegin" class="easyui-datebox" wms:data-options="label:'${web.label.inbounddatebegin}',labelPosition:'top'" />
					</div>
					<div style="margin-bottom:10px">
						<input name="inboundDateEnd" class="easyui-datebox" wms:data-options="label:'${web.label.inbounddateend}',labelPosition:'top'" />
					</div>
				</form>
			</div>
			<div style="text-align: center;height:50px;" data-options="region:'south',border:false">
				<a href="#" class="easyui-linkbutton common-search" data-form="#searchForm" style="width:80px;" data-options="iconCls:'icon-search'" >
					<span wms:text="${web.label.search}">Search</span>
				</a>	
				<a href="#" class="easyui-linkbutton common-search-clear" data-form="#searchForm" style="width:80px;" data-options="iconCls:'icon-clear'" >
					<span wms:text="${web.label.clear}">Clear</span>
				</a>
			</div>
				
		</div>
	</div>
	<div data-options="region:'center',border:false">
		<div class="easyui-layout" style="width: 100%;height: 100%;">
			<div data-options="region:'north',collapsible:false" style="height:35px;">
				<div class="tableToolbar">
					<a href="#" class="easyui-menubutton" data-options="menu:'#addMenuButton',plain:false" wms:text="${web.label.add}">Add</a>
					<div id="addMenuButton">
						<div  wms:text="${web.label.addheader}" class="header-add" data-addpanel="#addHeaderDiv">add Header</div>
						<div  wms:text="${web.label.addheaderanddetail}" class="inbound-addheaderdetail" wms:title="${web.label.inbound.add}">add Header & Detail</div>
					</div>
					<!--<a href="#" class="easyui-menubutton" data-options="menu:'#viewMenuButton',plain:false" wms:text="${web.label.view}">View</a>
					<div id="viewMenuButton">
						<div  wms:text="${web.label.viewheader}">View Header</div>
						<div  wms:text="${web.label.viewdetail}" class="viewDetail">View Detail</div>
						<div  wms:text="${web.label.viewheaderanddetail}">View Header & Detail</div>
					</div>-->
					<a href="#" class="easyui-menubutton" data-options="menu:'#optionsMenuButton',plain:false" wms:text="${web.label.options}">Actions</a>
					<div id="optionsMenuButton">
						<div  wms:text="${web.label.receive.all}" onclick="action('receiveAll')">All Receive</div>
						<div  wms:text="${web.label.cancelreceive}" onclick="action('unReceive')">unReceive</div>
						<div  wms:text="${web.label.createputaway}" onclick="action('createPutaway')">Create Putaway</div>
						<div  wms:text="${web.label.viewputaway}" onclick="viewputaway()">View Putaway</div>
						<div  wms:text="${web.label.cancel}" onclick="action('cancel')">Cancel</div>
						<div  wms:text="${web.label.close}" onclick="action('close')">Close</div>
					</div>
					<a href="#" class="easyui-menubutton" data-options="menu:'#reportMenuButton',plain:false" wms:text="${web.label.report}">Report</a>
					<div id="reportMenuButton">
						<div  wms:text="${wms.label.receivereport}" onclick="exportPDFReport('INBOUND')">Receive Peport</div>
						<div  wms:text="${wms.label.receivedsummaryreport}" onclick="exportPDFReport('INBOUNDCONFIRM')">Receive Summary Report</div>
					</div>
					<a href="#" class="easyui-linkbutton" onclick="importExcel('INBOUND')" wms:text="${web.label.import}">Import</a>
					<a href="#" class="easyui-linkbutton" onclick="exportExcel('INBOUND', '#searchForm')" wms:text="${web.label.export}">Export</a>
					<a href="#" class="easyui-linkbutton common-rowdel"  data-table="#inboundData" th:data-url="@{/services/inner/inbound/delete}" wms:text="${web.label.delete}">Delete</a>
				</div>
			</div>
			<div data-options="region:'center',collapsible:false,border:false" >
				<div class="easyui-layout" id="detailLayout" style="width: 100%;height: 100%;" data-options="fix:true">
					<div data-options="region:'center',collapsible:false,border:false" >
						<table id="inboundData" wms:title="${web.label.inboundlist.title}" class="easyui-datagrid"
										th:data-delayUrl="@{/services/inner/inbound/find}">
							<thead data-options="frozen:true">
								<tr>
									<th field="inboundHeaderId" data-options="checkbox:true"></th>
									<th field="detail" data-options="
										formatter:function(value,row){
											var data = JSON.stringify(row);
											var detail = '<span title = \'查看\' onclick=\'viewDetail('+data+')\' class=\'icon-detail\'>&nbsp;</span>';
											return detail;
										}
									"></th>
									<th field="edit" data-options="
										formatter:function(value,row){
											var data = JSON.stringify(row);
											var detail = '<span title = \'编辑\' onclick=\'toEditHeader('+data+')\' class=\'icon-edit\'>&nbsp;</span>';
											return detail;
										}
									"></th>
								</tr>
							</thead>
							<thead>
								<tr>
									<th field="inboundNumber" width="130" wms:text="${web.label.inboundnumber}" data-options="sortable:true">inboundNumber</th>
									<th field="sourceNumber" width="100" wms:text="${web.label.sourcenumber}" >sourceNumber</th>
									<th field="type" width="80" wms:text="${web.label.type}" data-options="
										sortable:true,
										formatter:function(value,row){
											return getCodelkupValue('INBOUNDTYPE',value);
										}
									" >type</th>
									<th field="status" width="80" wms:text="${web.label.status}" data-options="
										sortable:true,
										formatter:function(value,row){
											return getCodelkupValue('INBOUNDSTATUS',value);
										}
									" >status</th>
									<th field="ownerCode" width="80" wms:text="${web.label.owner}">ownerCode</th>
									<th field="supplierCode" width="80" wms:text="${web.label.supplier}">ownerCode</th>
									<th field="expectedInboundDate" width="130" wms:text="${web.label.expectedinbounddate}">expectedInboundDate</th>
									<th field="inboundDate" width="130" wms:text="${web.label.inbounddate}">inboundDate</th>
									<th field="closedDate" width="130" wms:text="${web.label.closeddate}">closedDate</th>
									<th field="createBy" width="80" wms:text="${web.label.createby}" >createBy</th>
									<th field="createTime" width="130" wms:text="${web.label.createtime}" data-options="sortable:true" >createTime</th>
									<th field="updateBy" width="80" wms:text="${web.label.updateby}" >updateBy</th>
									<th field="updateTime" width="130" wms:text="${web.label.updatetime}" data-options="sortable:true">updateTime</th>
								</tr>
							</thead>
						</table>
					</div>
					<div id="detailPanel" data-options="
								region:'south',
								border:false,
								split:true,
								minimized:true,
								onBeforeExpand: function(){
									if (headerData == undefined)
										return false;
								}
								" title=" " style="height: 300px;">
						<div th:replace="inbound/detail" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- add header -->
	<div id="addHeaderDiv" wms:title="${web.label.header.add}" style="height: 400px;width: 800px;display: none;" data-options="buttons: '#headerAddButton'">
		<div id="headerAddButton">
			<a href="#" class="easyui-linkbutton common-confirmadd" wms:text="${web.label.save}" data-form="#inboundHeaderForm" data-table="#inboundData">Save</a>
			<a href="#" class="easyui-linkbutton" id="clearAddForm" onclick="$('#inboundHeaderForm').form('clear');" wms:text="${web.label.clear}" data-options="iconCls:'icon-clear'">Clear</a>
		</div>
		<div id="headerEditButton" style="display:none;">
			<a href="#" class="easyui-linkbutton inboundHeader-save" wms:text="${web.label.save}" data-form="#inboundHeaderForm" data-table="#inboundData">Save</a>
		</div>
		<div th:replace="inbound/header" />
	</div>
	<div th:replace="inbound/putaway" />
</body>
<script type="text/javascript" th:src="@{/static/ui/plugins/datagrid-filter.js}"></script>
<script type="text/javascript" th:src="@{/static/js/inbound/inbound.js}"></script>
<script type="text/javascript" th:src="@{/static/js/inventory/putaway.js}"></script>
<script type="text/javascript" th:inline="text">
	$(function(){
		$('.inbound-addheaderdetail').click(function(){
			window.parent.addPanel($(this).attr('title'), 'inbound/edit');
		});
		$('.header-add').click(function(){
			headerEditable(0);
			$('#headerAddButton').show();
			$('#headerEditButton').hide();
			var panel = $(this).attr('data-addpanel');
			lazyLoadView(panel);
			$(panel).dialog({
				closed: true,
				modal: true,
				fix: true,
				buttons: '#headerAddButton'
			}).dialog('open');
			$(panel).find('form').form('reset');
			$('#inboundHeaderId').val("");
			loadOwnerLov();
			$('.tooltip').remove();
		});
		$('.common-search').click(function(){
			$('#detailLayout').layout('collapse', 'south');
		});
		
		$('.viewDetail').click(function(){
			viewDetail();
		});

		//头部编辑保存
		$('.inboundHeader-save').click(function(){
			var from = $(this).attr('data-form');
			var datagrid = $(this).attr('data-table');
			var url ='../../services/inner/inbound/save';
			var valid = $(from).form('validate');
			if (!valid) {
				return;
			}
			var data = $(from).serializeObject();
			data = getBaseData(data);
			loading();
			$.post({
				url: url,
				data:data,
				success: function(data){
					data = returnData(data);
					closeLoading();
					if (data.code == '0') {
						showError(data.msg);
						return;
					}
					$(from).parents('.window-body').dialog('close');
					$(datagrid).datagrid('reload').datagrid('clearChecked');
				}
			});
		});

		setTimeout(function(){
			lazyLoadView('body');
		}, 0);

	});
	
	function viewDetail(data){	
		if (typeof(data) == 'object') {
			headerData = data;
		}else{
			var checkedRows = $('#inboundData').datagrid('getChecked');
			if (checkedRows.length != 1) {
				showError($.locale.selectOneRow);
				return;
			}
			headerData = checkedRows[0];
		}
		
		var detailPanelOptions = $('#detailPanel').panel('options');
		var collapsed = detailPanelOptions.collapsed;
		if (collapsed){
			$('#detailPanel').panel({
				height: 300,
				minimized: false
			});
			$('#detailLayout').layout('expand', 'south');
		}
		loadDetailListToolbarView();
		refreshInboundDetail(headerData);
	}

	/**
	 * @Description 跳转编辑查看头部页面
	 * @param data
	 */
	function toEditHeader(data) {
		if (typeof(data) == 'object') {
			headerData = data;
		}else{
			var checkedRows = $('#inboundData').datagrid('getChecked');
			if (checkedRows.length != 1) {
				showError($.locale.selectOneRow);
				return;
			}
			headerData = checkedRows[0];
		}
		$('#headerAddButton').hide();
		$('#headerEditButton').show();
		var panel = '#addHeaderDiv';
		lazyLoadView(panel);
		$(panel).dialog({
			closed: true,
			modal: true,
			fix: true,
			buttons: '#headerEditButton',
		}).dialog('open');
		$(panel).find('form').form('reset');
		refreshEditHeader(headerData);
		$('.tooltip').remove();
	}
	
	function action(type){
		var checkedRows = $('#inboundData').datagrid('getChecked');
		if (checkedRows.length == 0) {
			showError($.locale.selectOneRow);
			return;
		}
		baseAction(type, checkedRows);
	}
	
	//default list
	function refreshInbound(data){
		var inboundData = '#inboundData';
		var checkedRows = $(inboundData).datagrid('getEditingRowIndexs');
		if (checkedRows.length == 1) {
			$(inboundData).datagrid('updateRow', {
				index: checkedRows[0],
				row: data
			});
		}
	}

	//default list
	/* 导出文件  */
	function exportPDFReport(type) {
		var checkedRows = $('#inboundData').datagrid('getChecked');
		if (checkedRows.length != 1) {
			showError($.locale.selectOneRow);
			return;
		}
		rowData = checkedRows[0];
		exportInboundReport(type, rowData);
	}
	
</script>
</html>
