<!DOCTYPE html>
<html>
<head>
    <title wms:text="${web.label.inventory.search.containernumber}">根据容器号查询</title>
    <head th:replace="common/head" />
    <script th:replace="common/js" />
    <script type="text/javascript" th:src="@{/js/codelkupList?listName=YESNO}"></script>
</head>
<body class="easyui-layout" style="opacity: 1;" >
	<div class="icon-loading" style="position: absolute; z-index: 999999;width: 100%; height: 100%;opacity: 1;background-color: white;" >&nbsp;</div>
	<div data-options="region:'west',collapsible:true" wms:title="${web.label.search.title}" style="width:200px;">
		<div id="searchDiv" class="easyui-layout" style="height: 100%;">
			<div style="margin-left: 10px;height: 100%;" data-options="region:'center',border:false" >
				<form id="containerSearchForm" data-table="#containerResult" data-template="stockGroupByContainer">
	                <div style="margin-bottom:10px">
	                    <input name="ownerCode" class="easyui-textbox"
	                           wms:data-options="label:'${web.label.owner}',labelPosition:'top'"/>
	                </div>
	                <div style="margin-bottom:10px">
	                    <input name="skuCode" class="easyui-textbox"
	                           wms:data-options="label:'${web.label.sku}',labelPosition:'top'"/>
	                </div>
	                <div style="margin-bottom:10px">
	                    <input name="skuAlias" class="easyui-textbox"
	                           wms:data-options="label:'${web.label.skualias}',labelPosition:'top'"/>
	                </div>
	                <div style="margin-bottom:10px">
	                    <input name="containerNumber" class="easyui-textbox"
	                           wms:data-options="label:'${web.label.containernumber}',labelPosition:'top'"/>
	                </div>
	                <div style="margin-bottom:10px">
	                    <input class="easyui-combobox" name="quantityAvailableMoreThanZero" wms:data-options="
							data: codelkups['YESNO'],
							valueField: 'code',
							textField: 'descr',
							label: '${web.label.quantityavailablemorethanzero}',
							labelPosition: 'top'
							">
	               	</div>
	            </form>
			</div>
			<div style="text-align: center;height:50px;" data-options="region:'south',border:false">
				<a href="#" class="easyui-linkbutton common-search " data-form="#containerSearchForm" style="width:80px;" data-options="iconCls:'icon-search'">
	                <span wms:text="${web.label.search}">Search</span>
	            </a>	
				<a href="#" class="easyui-linkbutton common-search-clear" data-form="#containerSearchForm" style="width:80px;" data-options="iconCls:'icon-clear'" >
					<span wms:text="${web.label.clear}">Clear</span>
				</a>
			</div>
				
		</div>
	</div>
	<div data-options="region:'center',border:false">
		<div class="easyui-layout" style="width: 100%;height: 100%;">
			<div data-options="region:'north',collapsible:false" style="height:35px;">
				<div class="tableToolbar">
    				<a href="#"  class="easyui-linkbutton" onclick="exportExcel($('#containerSearchForm').data('template'),'#containerSearchForm')" wms:text="${web.label.export}" data-target="">Export</a>
				</div>
			</div>
			<div data-options="region:'center',collapsible:false,border:false" >
				<div class="easyui-layout" id="detailLayout" style="width: 100%;height: 100%;" data-options="fix:true">
					<div data-options="region:'center',collapsible:false,border:false" >
						<table id="containerResult" wms:title="${web.label.inventorybalancelist.title}" class="easyui-datagrid"
										th:data-delayUrl="@{/services/inventory/multi/container}">
							<thead>
					            <th field="ownerCode" width="90" wms:text="${web.label.owner}">ownerCode</th>
					            <th field="skuCode" width="90" wms:text="${web.label.sku}">skuCode</th>
					            <th field="skuAlias" width="90" wms:text="${web.label.skualias}">skuAlias</th>
					            <th field="containerNumber" width="120" wms:text="${web.label.containernumber}">containerNumber</th>
					            <th field="quantityOnhand" width="120" wms:text="${web.label.quantity.onhand}">quantityOnhand</th>
					            <th field="quantityAllocated" width="120" wms:text="${web.label.quantity.allocated}">quantityAllocated</th>
					            <th field="quantityLocked" width="120" wms:text="${web.label.quantity.locked}">quantityLocked</th>
					            <th field="quantityAvailable" width="120"wms:text="${web.label.quantity.available}">quantityAvailable</th>
				            </thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/ui/plugins/datagrid-filter.js}"></script>
<script type="text/javascript" th:inline="text"></script>
</html>
