<!DOCTYPE html>
<html>
<head>
    <title wms:text="${wms.count.title}">盘点单</title>
    <head th:replace="common/head"/>
    <script th:replace="common/js"/>
	<script type="text/javascript" th:src="@{/static/ui/plugins/datagrid-filter.js}"></script>
	<script type="text/javascript" th:src="@{/js/codelkupList?listName=COUNTTYPE,YESNO,COUNTSTATUS,COUNTREASON}"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'west',collapsible:true" wms:title="${web.label.search.title}" style="width:200px;">
    <div id="searchDiv">
        <div style="margin-left: 10px;">
            <form id="searchForm" data-table="#dataTable">
                <div style="margin-bottom:10px">
                    <input name="countNumber" class="easyui-textbox"
                           wms:data-options="label:'${web.label.countnumber}',labelPosition:'top'">
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-combobox" name="type" wms:data-options="
						data: codelkups['COUNTTYPE'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.type}',
						labelPosition: 'top'
						">
                </div>
                <div style="margin-bottom:10px">
                    <input name="parentCountNumber" class="easyui-textbox"
                           wms:data-options="label:'${web.label.parentcountnumber}',labelPosition:'top'">
                </div>
            </form>
        </div>
        <div style="text-align: center;">
            <a href="#" class="easyui-linkbutton common-search" data-form="#searchForm" style="width:80px;"
               data-options="iconCls:'icon-search'">
                <span wms:text="${web.label.search}">Search</span>
            </a>
            <a href="#" class="easyui-linkbutton common-search-clear" data-form="#searchForm" style="width:80px;"
               data-options="iconCls:'icon-clear'">
                <span wms:text="${web.label.clear}">Clear</span>
            </a>
        </div>
    </div>
</div>
<div data-options="region:'center'">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',collapsible:false" style="height:35px;">
            <div id="dataTableToolbar" style="padding-left: 20px;">
                <a href="#" class="easyui-menubutton" data-options="menu:'#optionsMenuButton',plain:false"
                   wms:text="${web.label.options}">Actions</a>
                <div id="optionsMenuButton">
                    <div wms:text="${web.label.replaycount}" onclick="action('replayCount')">replayCount</div>
                    <div wms:text="${web.label.post}" onclick="action('post')">Post</div>
                    <div wms:text="${web.label.cancel}" onclick="action('cancel')">cancel</div>
                </div>
                <a href="#" class="easyui-menubutton" data-options="menu:'#reportMenuButton',plain:false" wms:text="${web.label.report}">Report</a>
                <div id="reportMenuButton">
                    <div  wms:text="${web.label.countreport}" onclick="exportPDFReport('COUNT')">COUNT</div>
                    <div  wms:text="${wms.label.countconfirmreport}" onclick="exportPDFReport('COUNTCONFIRM')">COUNTCONFIRM</div>
                </div>
                <a href="#" class="easyui-linkbutton common-rowdel" data-table="#dataTable"
                   th:data-url="@{/services/inner/inventory/inventoryCount/headerDelete}">
                    <span wms:text="${web.label.delete}">Delete</span>
                </a>
            </div>
        </div>
        <div data-options="region:'center',collapsible:false,border:false">
            <div class="easyui-layout" id="detailLayout" style="width: 100%;height: 100%;"
                 data-options="fix:true">
                <div data-options="region:'center',collapsible:false,border:false">
                    <table id="dataTable" wms:title="${web.label.countlist.title}" class="easyui-datagrid"
                           th:data-delayUrl="@{/services/inner/inventory/inventoryCount/findHeader}">
							<thead data-options="frozen:true">
								<tr>
									<th field="inventoryCountHeaderId" data-options="checkbox:true"></th>
									<th field="detail"
										data-options="
											formatter:function(value,row){
												var data = JSON.stringify(row);
												var detail = '<span onclick=\'viewDetail('+data+')\' class=\'icon-detail\'>&nbsp;</span>';
												return detail;
											}
										"></th>
									<th field="countNumber" width="120"
										wms:text="${web.label.countnumber}"
										data-options="sortable:true">countNumber</th>
								</tr>
							</thead>
							<thead>
								<tr>
									<!--  
									<th field="type" width="100" wms:text="${web.label.type}"
										data-options="
											sortable:true,
											formatter:function(value,row){
												return getCodelkupValue('COUNTTYPE',value);
											}
										">type
									</th>
									-->
			                        <th field="replayFlag" width="100" wms:text="${web.label.replayflag}" data-options="
										sortable:true,
										formatter:function(value,row){
											return getCodelkupValue('YESNO',value);
										}
									">replayFlag
			                        </th>
									<th field="parentCountNumber" width="100"
										wms:text="${web.label.parentcountnumber}"
										data-options="sortable:true">parentCountNumber</th>
									<th field="status" width="100" wms:text="${web.label.status}"
										data-options="
											sortable:true,
											formatter:function(value,row){
												return getCodelkupValue('COUNTSTATUS',value);
											}
										">status
									</th>
									<th field="createBy" width="80" wms:text="${web.label.createby}">createBy</th>
									<th field="createTime" width="150" wms:text="${web.label.createtime}" data-options="sortable:true">createTime</th>
									<th field="updateBy" width="80" wms:text="${web.label.updateby}">updateBy</th>
									<th field="updateTime" width="150" wms:text="${web.label.updatetime}" data-options="sortable:true">updateTime</th>
							</thead>
							</tr>
                    </table>
                </div>
                <div id="detailPanel" data-options="region:'south',border:false,split:true,minimized:true"
                     title=" " style="height: 300px;">
                    <div th:replace="inventory/countDetail"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="text">
    var headerData;
    $(function () {
        $('.common-search').click(function () {
            $('#detailLayout').layout('collapse', 'south');
        });
        $('.detail-replaycount').click(function () {
            var checkedRows = $('#countDetailTable').datagrid('getChecked');
            if (checkedRows.length == 0) {
                showError($.locale.selectOneRow);
                return;
            }
            confirmMsg($.locale.lineConfirm,{type:'replayCount',row:checkedRows.length}, function(r){
                if (!r){
                    return;
                }
                var data = getBaseData(checkedRows);
                loading();
                $.post({
                    url: '../../services/inner/inventory/inventoryCount/replayCountDetail',
                    data:data,
                    success: function(data){
                        data = returnData(data);
                        closeLoading();
                        if (data.code == '0') {
                            showError(data.msg);
                            return;
                        }
                        $('#countDetailTable').datagrid('reload').datagrid('clearChecked');
                        refreshCountDetail(headerData);
                    }
                });
            });
        });

    });

    function viewDetail(data) {
        if (typeof (data) == 'object') {
            headerData = data;
        } else {
            var checkedRows = $('#dataTable').datagrid('getChecked');
            if (checkedRows.length != 1) {
                showError($.locale.selectOneRow);
                return;
            }
            headerData = checkedRows[0];
        }

        var detailPanelOptions = $('#detailPanel').panel('options');
        var collapsed = detailPanelOptions.collapsed;
        if (collapsed) {
            $('#detailPanel').panel({
                height: 300,
                minimized: false
            });
            $('#detailLayout').layout('expand', 'south');
        }
        refreshCountDetail(headerData);
    }
    function action(type){
        var checkedRows = $('#dataTable').datagrid('getChecked');
        if (checkedRows.length == 0) {
            showError($.locale.selectOneRow);
            return;
        }
        confirmMsg($.locale.lineConfirm,{type:type,row:checkedRows.length}, function(r){
            if (!r){
                return;
            }
            var data = getBaseData(checkedRows);
            loading();
            $.post({
                url: '../../services/inner/inventory/inventoryCount/'+type,
                data:data,
                success: function(data){
                    data = returnData(data);
                    closeLoading();
                    if (data.code == '0') {
                        showError(data.msg);
                        return;
                    }
                    $('#dataTable').datagrid('reload').datagrid('clearChecked');
                    var collapse = $('#detailLayout').layout('panel','south').panel("options").collapsed;
                    headerData = checkedRows[0];
                    if(!collapse){
                        //展开状态并且只选择了一行刷新明细
                        refreshCountDetail(headerData);
                    }else {
                        $('#detailLayout').layout('collapse', 'south');
                    }
                }
            });
        });
    }
    
	/* 导出文件  */
	function exportPDFReport(type) {
		var checkedRows = $('#dataTable').datagrid('getChecked');
		if (checkedRows.length != 1) {
			showError($.locale.selectOneRow);
			return;
		}
		rowData = checkedRows[0];
		exportReport({
			fileType: "pdf",
			reportType: type,
			id: rowData.inventoryCountHeaderId
		});
	}
</script>
</html>