<!DOCTYPE html>
<html>
<head>
    <title wms:text="${web.lable.inventory.lock}">冻结</title>
    <head th:replace="common/head"/>
</head>
<body class="easyui-layout">
<div data-options="region:'west',collapsible:true" wms:title="${web.label.search.title}" style="width:200px;">
    <div id="searchDiv">
        <div style="margin-left: 10px;">
            <form id="searchForm" data-table="#lockData">
                <div style="margin-bottom:10px">
                    <input class="easyui-combobox" name="lockFlag" wms:data-options="
						data: codelkups['LOCKFLAG'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.lockflag}',
						labelPosition: 'top'
						">
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-combobox" name="reason"
                           wms:data-options="
						data: codelkups['LOCKREASON'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.reason}',
						labelPosition: 'top'
						">
                </div>
            </form>
        </div>
        <div style="text-align: center;">
            <a href="#" class="easyui-linkbutton common-search" data-form="#searchForm" style="width:80px;"
               data-options="iconCls:'icon-search'">
                <span wms:text="${web.label.search}">Search</span>
            </a>
            <a href="#" class="easyui-linkbutton common-search-clear" data-form="#searchForm" style="width:80px;"
               data-options="iconCls:'icon-clear'">
                <span wms:text="${web.label.clear}">Clear</span>
            </a>
        </div>
    </div>
</div>
<div data-options="region:'center',border:false">
    <div class="tableToolbar">
        <a href="#" class="easyui-linkbutton lock-add" data-addpanel="#addDiv">
            <span wms:text="${web.label.add}">Add</span>
        </a>
        <a href="#" class="easyui-linkbutton unlock" data-table="#lockData"
           th:data-url="@{/services/inner/inventory/onhand/unLock}">
            <span wms:text="${web.label.unlock}">unLock</span>
        </a>
    </div>
    <div>
        <table id="lockData" wms:title="${web.label.locklist.title}" class="easyui-datagrid"
               th:data-delayUrl="@{/services/inner/inventory/onhand/findLocked}">
            <thead>
            <tr>
                <th field="inventoryLockedId" data-options="checkbox:true"></th>
                <th field="inventoryOnhandId" data-options="hidden:true"></th>
                <th field="quantityLocked" width="80" wms:text="${web.label.quantity.locked}"
                    data-options="sortable:true">quantityLocked
                </th>
                <th field="lockFlag" width="80" wms:text="${web.label.lockflag}" data-options="
						    sortable:true,
							formatter:function(value,row){
								return getCodelkupValue('LOCKFLAG',value);
							}">lockFlag
                </th>
                <th field="reason" width="150" wms:text="${web.label.reason}" data-options="
							formatter:function(value,row){
								return getCodelkupValue('LOCKREASON',value);
							}">lockFlag
                </th>
                <th field="remark" width="200" wms:text="${web.label.remark}">remark</th>
                <th field="createBy" width="80" wms:text="${web.label.createby}">createBy</th>
                <th field="createTime" width="150" wms:text="${web.label.createtime}" data-options="sortable:true">
                    createTime
                </th>
                <th field="updateBy" width="80" wms:text="${web.label.updateby}">updateBy</th>
                <th field="updateTime" width="150" wms:text="${web.label.updatetime}" data-options="sortable:true">
                    updateTime
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div id="addDiv" wms:title="${web.label.detail.add}" style="height: 500px;width: 1100px;display: none;">
    <div id="addToolbar" style="padding-left: 30px;">
        <a href="#" class="easyui-linkbutton lock-confirmadd" data-table="#addData"
           th:data-url="@{/services/inner/inventory/onhand/lock}">
            <span wms:text="${web.label.lockconfirm}">Lock</span>
        </a>
        <input class="easyui-combobox" name="reason" id="reason" style="width: 300px;margin-left: 30px;"
               wms:data-options="
						data: codelkups['LOCKREASON'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.reason}',
						labelPosition: 'before',
						labelAlign:'right'
						">
        <input id="remark" name="remark" class="easyui-textbox"
               wms:data-options="label:'${web.label.remark}',labelPosition:'before',labelAlign:'right'"
               style="width: 300px;margin-left: 30px;"/>
    </div>
    <table id="addData" class="easyui-datagrid" style="height: 100%;width:100%;"
           wms:data-options="toolbar: '#addToolbar'"
           th:data-delayUrl="@{/services/inner/inventory/onhand/find}">
        <thead>
        <tr>
            <th field="inventoryOnhandId" data-options="checkbox:true"></th>
            <th field="ownerCode" width="80" wms:text="${web.label.owner}" wms:data-options="
							sortable:true">
                ownerCode
            </th>
            <th field="ownerId" data-options="hidden:true"></th>
            <th field="skuCode" width="80" wms:text="${web.inventory.skuCode}" wms:data-options="
							sortable:true">
                skuCode
            </th>
            <th field="skuAlias" width="100" wms:text="${web.inventory.skuAlias}">
                skuAlias
            </th>
            <th field="skuId" data-options="hidden:true"></th>
            <th field="packCode" width="60" wms:text="${web.label.pack}" data-options="
										formatter:function(value,row){
										    var packCode = 'STD';
										    return packCode;
										}
						">packCode
            </th>
            <th field="lpnId" data-options="hidden:true"></th>
            <th field="lotNumber" width="100" wms:text="${web.label.lotnumber}" wms:data-options="
							sortable:true">
                lotNumber
            </th>
            <th field="lotId" data-options="hidden:true"></th>
            <th field="locationCode" width="80" wms:text="${web.label.location}" wms:data-options="
							sortable:true">
                locationCode
            </th>
            <th field="locationId" data-options="hidden:true"></th>
            <th field="lpnNumber" width="100" wms:text="${web.label.lpnnumber}" wms:data-options="
							sortable:true">
                lpnNumber
            </th>
            <th field="quantityOnhand" width="115" wms:text="${web.label.quantity.onhand}">
                quantityOnhand
            </th>
            <th field="quantityAllocated" width="125" wms:text="${web.label.quantity.allocated}"
                data-options="sortable:true">
                quantityAllocated
            </th>
            <th field="quantityLocked" width="115" wms:text="${web.label.quantity.locked}" data-options="sortable:true">quantityLocked
            </th>
            <th field="toQuantityLocked" width="136" wms:text="${web.label.quantity.toquantitylocked}" data-options="
                                    sortable:true,
                                    editor:{type:'numberbox'}
            ">quantityLocked
            </th>
            <th field="quantityAvailable" width="125" wms:text="${web.label.quantity.available}"
                data-options="sortable:false">
                quantityAvailable
            </th>
        </tr>
        </thead>
    </table>
</div>
</body>
<script th:replace="common/js"/>
<script type="text/javascript" th:src="@{/static/ui/plugins/datagrid-filter.js}"></script>
<script type="text/javascript" th:src="@{/js/codelkupList?listName=LOCKFLAG,LOCKREASON}"></script>
<script type="text/javascript" th:inline="text">
    $(function () {
        $('.lock-add').click(function () {
            var panel = $(this).attr('data-addpanel');
            $(panel).dialog({
                closed: true,
                modal: true,
                fix: true
            }).dialog('open');
            refreshAddDetail();
        });

        $('.lock-confirmadd').click(function(){
            var datagrid = $(this).attr('data-table');
            var url = $(this).attr('data-url');

            var editingRows = $(datagrid).datagrid('getEditingRowIndexs');
            for(var i in editingRows) {
                var flag = $(datagrid).datagrid('validateRow', editingRows[i]);
                if (!flag){
                    showError($.locale.errorRow,{row: editingRows[i]});
                    return;
                }
            }

            var rows = $(datagrid).datagrid('getChanges');

            if (editingRows.length == 0 && rows.length == 0) {
                showError($.locale.noChange);
                return;
            }
            if (editingRows.length > 0){
                $(datagrid).datagrid('endCellEdit');
                rows = $(datagrid).datagrid('getChanges');
            }
            var data=[];
            var reason = $('#reason').val();
            var remark = $('#remark').val();
            for(var j in rows) {
                if(null == rows[j].toQuantityLocked || undefined == rows[j].toQuantityLocked || 0 == rows[j].toQuantityLocked || "" == rows[j].toQuantityLocked){
                    //冻结数量为0不生成
                    continue;
                }
                data.push({
                    inventoryOnhandId : rows[j].inventoryOnhandId,
                    quantityLocked : rows[j].toQuantityLocked,
                    lockFlag : rows[j].lockFlag,
                    reason : reason,
                    remark : remark
                });
            }
            data = getBaseData(data);
            loading();
            $.post({
                url: url,
                data:data,
                success: function(data){
                    closeLoading();
                    data = returnData(data);
                    if (data.code == '0') {
                        showError(data.msg);
                        return;
                    }
                    $("#lockData").datagrid('reload').datagrid('clearChecked');
                    $(datagrid).parents('.window-body').dialog('close');
                }
            });
        });
        
        $(".unlock").click(function () {
            var datagrid = $(this).attr('data-table');
            var url = $(this).attr('data-url');

            var checkedRows = $(datagrid).datagrid('getChecked');
            if (checkedRows.length == 0) {
                showError($.locale.selectOneRow);
                return;
            }
            confirmMsg($.locale.unLockRows,{row:checkedRows.length}, function(r){
                if (!r){
                    return;
                }
                var data = getBaseData(checkedRows);
                loading();
                $.post({
                    url: url,
                    data:data,
                    success: function(data){
                        data = returnData(data);
                        closeLoading();
                        if (data.code == '0') {
                            showError(data.msg);
                            return;
                        }
                        $(datagrid).datagrid('reload').datagrid('clearChecked');
                    }
                });
            });
        });
    });

    function refreshAddDetail() {
        var data = getBaseData();
        var url = $('#addData').attr('data-delayUrl');
        $('#addData').datagrid({
            url: url,
            queryParams: data,
            filterPosition: 'top',
            remoteFilter: true,
            clientPaging: false,
            oldLoadFilter: undefined,
            filterStringify: function(params, filter) {
                var obj = params;
                if (typeof(params) != 'object'){
                    return;
                }
                for (var i in filter){
                    var q = filter[i];
                    var qObj = {};
                    qObj[q.field] = q.value;
                    $.extend(obj, qObj);
                }
            }
        }).datagrid('clearChecked').datagrid('destroyFilter').datagrid('enableFilter');

    }
</script>
</html>