<script type="text/javascript" th:src="@{/js/config}"></script>
<script type="text/javascript" th:src="@{/static/ui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/ui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/ui/locale/easyui-lang-} + ${localecode} + '.js'"></script>
<script type="text/javascript" th:src="@{/static/ui/plugins/datagrid-cellediting.js}"></script>
<script shiro:authenticated="" type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common-dao.js}"></script>