<!DOCTYPE html>
<html>
<head>
    <title wms:text="${wms.label.files}">文件列表</title>
    <head th:replace="common/head" />
    <style>
    	#uploadAppForm input{
    		width: 300px;
    	}
    	#uploadAppForm td{
    		height: 50px;
    		text-align: center;
    	}
    </style>
</head>
<body class="easyui-layout" >
	<div data-options="region:'center',border:false" >
		<div class="tableToolbar">
			<a href="#" class="easyui-linkbutton" onclick="upload()">
				<span wms:text="${web.label.upload}">upload</span>
			</a>
			<a href="#" class="easyui-linkbutton common-rowdel"  data-table="#tableData" th:data-url="@{/services/inner/file/delete}" wms:text="${web.label.delete}">Delete</a>
		</div>
		<div>
			<table id="tableData"  wms:title="${web.label.files}" class="easyui-datagrid">
				<thead>
					<tr>
						<th field="fileId" width="80" data-options="checkbox:true">fileId</th>
						<th field="fileName" width="250" wms:text="${web.label.filename}" data-options="sortable:true">fileName</th>
						<th field="download" wms:text="${web.label.download}" data-options="
											formatter:function(value,row){
												var fileId = row.fileId;
												var detail = '<span title = \'download\' onclick=downloadApp(\''+fileId+'\') class=\'icon-detail\'>&nbsp;</span>';
												return detail;
											}
										"></th>
						<th field="fileSize" width="70" wms:text="${web.label.filesize}" data-options="sortable:true">fileSize</th>
						<th field="template" width="100" wms:text="${web.label.version}">version</th>
						<th field="createBy" width="80" wms:text="${web.label.createby}">createBy</th>
						<th field="createTime" width="150" wms:text="${web.label.createtime}" data-options="sortable:true">createTime</th>
						<th field="updateBy" width="80" wms:text="${web.label.updateby}" >updateBy</th>
						<th field="updateTime" width="150" wms:text="${web.label.updatetime}" data-options="sortable:true">updateTime</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	
	<div id="uploadAppContent" style="display: none;">
		<form id="uploadAppForm" enctype="multipart/form-data">
			<table>
				<tr>
					<td>
						<input id="template" name="template" class="easyui-textbox" wms:data-options="required:true,label:'${web.label.version}',labelPosition:'top'" />
					</td>
				</tr>
				<tr>
					<td>
						<input id="file" name="file" class="easyui-filebox" wms:data-options="required:true,label:'${web.label.files}',labelPosition:'top'" />
					</td>
				</tr>
				<tr>
					<td>
						<input id="description" name="description" class="easyui-textbox" wms:data-options="label:'${web.label.remark}',labelPosition:'top'" />
					</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="easyui-linkbutton" id="uploadVersion" onclick="uploadVersion()" wms:text="${web.label.upload}" data-form="#uploadAppForm" data-options="iconCls:'icon-ok'">Save</a>
						<a href="#" class="easyui-linkbutton" id="clearForm" onclick="$('#uploadAppForm').form('clear');" wms:text="${web.label.clear}" data-options="iconCls:'icon-clear'">Clear</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
<script th:replace="common/js" />
<script type="text/javascript" th:src="@{/js/codelkupList?listName=FILETYPE,FILESTATUS,TEMPLATE}"></script>
<script type="text/javascript">
/**
 * 打开上传弹出框
 */
function upload(obj){
	$("#uploadAppForm").form('clear');
	$('#uploadAppContent').dialog({
	    closed: true,
	    modal: true,
	    fix: true,
	    title:$.locale.uploadAppName
	}).dialog('open');
}

$(function(){
	search();
});

/**
 * 表格数据加载
 */
function search(){
	$('#tableData').datagrid({
		url: getServiceUrl() + '/services/inner/file/find',
		pagination:true,
		queryParams: {
			fileType:"MOBILE"
		}
	}).datagrid('clearChecked');
}

function downloadApp(fileId){
	var d = new Date();
	var url = getFileUrl() + '/file/download?v='+d.getTime();
	url = url + "&fileId=" + fileId
	window.open(url);
}

/**
 * 上传文件
 */
function uploadVersion(){
	loading();
	var data = new FormData($("#uploadAppForm")[0]);
	var baseData = getBaseData();
	var keys = Object.keys(baseData);
	keys.forEach(function(key){
		data.append(key,baseData[key]);
	})
	var url = getFileUrl() + '/file/uploadApp';
	loading();
	$.post({
		url: url,
		data:  data,
		processData: false,
        contentType: false,
        enctype: 'multipart/form-data',
		success: function(data){
			data = returnData(data);
			closeLoading();
			if (data.code == '0') {
				showError(data.msg);
				return;
			}
			showMsg($.locale.uploadSuccess,function(){
				$('#uploadAppContent').dialog('close');
				search();
			});
		},
		error: function (data) {
			closeLoading();
			showMsg("Request failed!");
		}
	});
}
</script>
</html>
