<!DOCTYPE html>
<html>
<head>
    <title wms:text="${wms.label.files}">文件列表</title>
    <head th:replace="common/head" />
</head>
<body >
	<div id="filesSearch">
		<input class="easyui-textbox" id="fileNameSearchInput" wms:data-options="buttonText:'${web.label.search}',prompt:'${web.label.filename}',onClickButton:enterSearchValue" style="width:100%;height:32px;">
	</div>
	<div>
		<table id="tableData" class="easyui-datagrid" style="width:99.5%;height: auto;" data-options="
					rownumbers:true,
					remoteSort:false,
					multiSort:true,
					queryParams: getBaseData(),
					url: '../../services/inner/file/userFind',
					toolbar:'#filesSearch'">
			<thead>
				<tr>
					<th field="fileId" width="80" data-options="hidden:true">fileId</th>
					<th field="fileType" width="80" wms:text="${web.label.type}" data-options="
							sortable:true,
							formatter:function(value,row){
								return getCodelkupValue('FILETYPE',value);
							}">FileType</th>
					<th field="fileName" width="200" wms:text="${web.label.filename}" data-options="sortable:true">fileName</th>
					<th field="download" data-options="
										formatter:function(value,row){
											var data = JSON.stringify(row);
											var detail = '<span title = \'download\' onclick=\'download('+data+')\' class=\'icon-detail\'>&nbsp;</span>';
											return detail;
										}
									"></th>
					<th field="fileSize" width="70" wms:text="${web.label.filesize}" data-options="sortable:true">fileSize</th>
					<th field="startTime" width="140" wms:text="${web.label.starttime}" data-options="sortable:true">startTime</th>
					<th field="endTime" width="140" wms:text="${web.label.endtime}" data-options="sortable:true">endTime</th>
					<th field="status" width="80" wms:text="${web.label.status}" data-options="sortable:true,
							formatter:function(value,row){
								return getCodelkupValue('FILESTATUS',value);
							}">status</th>
					<th field="remark" width="200" wms:text="${web.label.remark}" >remark</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
<script th:replace="common/js" />
<script type="text/javascript" th:src="@{/js/codelkupList?listName=FILETYPE,FILESTATUS}"></script>
<script type="text/javascript">

function enterSearchValue(){
	var searchValue = $('#fileNameSearchInput').textbox('getValue');
	var data = getBaseData();
	data['fileName'] = searchValue;
	$('#tableData').datagrid({
		queryParams: data
	});
}

function download(obj){
	downloadFile(obj.fileId);
}

</script>
</html>
