<!DOCTYPE html>
<html>
<head>
    <title wms:text="${wms.base.pack.title}">包装</title>
    <head th:replace="common/head" />
</head>
<body class="easyui-layout" >
	<div data-options="region:'west',collapsible:true" wms:title="${web.label.search.title}" style="width:200px;">
		<div id="searchDiv">
			<div style="margin-left: 10px;">
				<form id="searchForm" data-table="#packData" >
					<div style="margin-bottom:10px">
						<input name="packCode" class="easyui-textbox" wms:data-options="label:'${web.label.packcode}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="packDescr" class="easyui-textbox" wms:data-options="label:'${web.label.descr}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input class="easyui-combobox" name="active" wms:data-options="
						data: codelkups['YESNO'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.active}',
						labelPosition: 'top'
						">
					</div>
				</form>
			</div>
			<div style="text-align: center;">
				<a href="#" class="easyui-linkbutton common-search" data-form="#searchForm" style="width:80px;" data-options="iconCls:'icon-search'" >
					<span wms:text="${web.label.search}">Search</span>
				</a>	
				<a href="#" class="easyui-linkbutton common-search-clear" data-form="#searchForm" style="width:80px;" data-options="iconCls:'icon-clear'" >
					<span wms:text="${web.label.clear}">Clear</span>
				</a>
			</div>
		</div>
	</div>
	<div data-options="region:'center',border:false" >
		<div class="tableToolbar">
			<a href="#" class="easyui-linkbutton common-add" data-addpanel="#addDiv">
				<span wms:text="${web.label.add}">Add</span>
			</a>
			<a href="#" class="easyui-linkbutton common-rowsave" data-table="#packData" th:data-url="@{/services/inner/base/pack/save}" >
				<span wms:text="${web.label.save}">Save</span>
			</a>
			<a href="#" class="easyui-linkbutton common-rowdel"  data-table="#packData" th:data-url="@{/services/inner/base/pack/delete}">
				<span wms:text="${web.label.delete}">Delete</span>
			</a>
		</div>
		<div>
			<table id="packData" wms:title="${web.label.packlist.title}" class="easyui-datagrid"
							th:data-delayUrl="@{/services/inner/base/pack/find}">
				<thead data-options="frozen:true">
					<tr>
						<th field="packId" data-options="checkbox:true"></th>
						<th field="edit" data-options="
										formatter:function(value,row){
											var data = JSON.stringify(row);
											var detail = '<span title = \'编辑\' onclick=\'toEdit('+data+')\' class=\'icon-edit\'>&nbsp;</span>';
											return detail;
										}
									"></th>
					</tr>
				</thead>
				<thead>
					<tr>
						<th field="packCode" width="80" wms:text="${web.label.packcode}" data-options="sortable:true">packCode</th>
						<th field="packDescr" width="150" wms:text="${web.label.descr}" data-options="sortable:false,editor:{
																													type: 'validatebox',
																													options: {
																														required: true
																													}
																												}">packDescr</th>
						<th field="uom" width="80" wms:text="${web.labe.uom.least}" data-options=" sortable:true,
							formatter:function(value,row){
								return getCodelkupValue('UOM',value);
							},
							editor:{
								type:'combobox',
								options:{
									valueField:'code',
									textField:'descr',
									data: codelkups['UOM'],
									required: true
								}
							}
						" >uom</th>
						<th field="qty" width="80" wms:text="${web.label.qty.least}" data-options="sortable:true,editor:{
																													type: 'numberbox',
																													options: {
																														required: true
																													}
																												}">qty</th>
						<th field="uomInner" width="80" wms:text="${web.label.uomInner}" data-options=" sortable:true,
							formatter:function(value,row){
								return getCodelkupValue('UOM',value);
							},
							editor:{
								type:'combobox',
								options:{
									valueField:'code',
									textField:'descr',
									data: codelkups['UOM'],
									required: true
								}
							}
						" >uomInner</th>
						<th field="qtyInner" width="80" wms:text="${web.label.qtyInner}" data-options="sortable:true,editor:{
																													type: 'numberbox',
																													options: {
																														required: true
																													}
																												}">qtyInner</th>
						<th field="uomCase" width="80" wms:text="${web.label.uomCase}" data-options="
						    sortable:true,
							formatter:function(value,row){
								return getCodelkupValue('UOM',value);
							},
							editor:{
								type:'combobox',
								options:{
									valueField:'code',
									textField:'descr',
									data: codelkups['UOM'],
									required: true
								}
							}
						" >uomCase</th>
						<th field="qtyCase" width="80" wms:text="${web.label.qtyCase}" data-options="sortable:true,editor:{
																													type: 'numberbox',
																													options: {
																														required: true
																													}
																												}">qtyCase</th>
						<th field="active" width="50" wms:text="${web.label.active}" data-options="
							sortable:true,
							formatter:function(value,row){
								return getCodelkupValue('YESNO',value);
							},
							editor:{
								type:'combobox',
								options:{
									valueField:'code',
									textField:'descr',
									data: codelkups['YESNO'],
									required: true
								}
							}
						" >active</th>
						<th field="remark" width="100" wms:text="${web.label.remark}" data-options="sortable:false,editor:'text'">remark</th>
						<th field="createBy" width="80" wms:text="${web.label.createby}">createBy</th>
						<th field="createTime" width="150" wms:text="${web.label.createtime}"  data-options="sortable:true">createTime</th>
						<th field="updateBy" width="80" wms:text="${web.label.updateby}" >updateBy</th>
						<th field="updateTime" width="150" wms:text="${web.label.updatetime}" data-options="sortable:true">updateTime</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div id="addDiv" wms:title="${web.label.add}" style="width:560px;height:460px; display: none;">
		<div style="width: 100%;">
			<form method="post" id="addForm" th:data-url="@{/services/inner/base/pack/add}">
				<input name="packId" type="hidden">
				<input name="updateVersion" type="hidden">
				<div class="lazy-load" lazy-load="easyui-tabs" style="width: 100%;height: 360px;">
				  <div wms:title="${web.label.normal}">
					<table style="width: 100%;padding-left: 60px;">
						<tr>
							<td>
								<input name="packCode" class="lazy-load" lazy-load="easyui-textbox" wms:data-options="required:true,label:'${web.label.packcode}',labelPosition:'top'">
							</td>
							<td>
								<input name="packDescr" class="lazy-load" lazy-load="easyui-textbox"  wms:data-options="required:true,label:'${web.label.descr}',labelPosition:'top'">
							</td>
						</tr>
						<tr>
							<td>
								<input name="uom" class="lazy-load" lazy-load="easyui-combobox"  wms:data-options="
								required:true,
								data: codelkups['UOM'],
								valueField: 'code',
								textField: 'descr',
								label: '${web.labe.uom.least}',
								labelPosition: 'top'
								" />
							</td>
							<td>
								<input name="qty" class="lazy-load" lazy-load="easyui-numberbox" value="1"  wms:data-options="required:true,label:'${web.label.qty.least}',labelPosition:'top'">
							</td>
						</tr>
						<tr>
							<td>
								<input name="uomInner" class="lazy-load" lazy-load="easyui-combobox"  wms:data-options="
								required:true,
								data: codelkups['UOM'],
								valueField: 'code',
								textField: 'descr',
								label: '${web.label.uomInner}',
								labelPosition: 'top'
								" />
							</td>
							<td>
								<input name="qtyInner" class="lazy-load" lazy-load="easyui-numberbox"  value="0"  wms:data-options="required:true,label:'${web.label.qtyInner}',labelPosition:'top'">
							</td>
						</tr>
						<tr>
							<td>
								<input name="uomCase" class="lazy-load" lazy-load="easyui-combobox"  wms:data-options="
								required:true,
								data: codelkups['UOM'],
								valueField: 'code',
								textField: 'descr',
								label: '${web.label.uomCase}',
								labelPosition: 'top'
								" />
							</td>
							<td>
								<input name="qtyCase" class="lazy-load" lazy-load="easyui-numberbox"  value="0"  wms:data-options="required:true,label:'${web.label.qtyCase}',labelPosition:'top'">
							</td>
						</tr>
						<tr>
							<td>
								<input class="lazy-load" lazy-load="easyui-combobox" name="active"  wms:data-options="
								required:true,
								value: 'Y',
								data: codelkups['YESNO'],
								valueField: 'code',
								textField: 'descr',
								label: '${web.label.active}',
								labelPosition: 'top'
								" />
							</td>
							<td>
								<input name="remark" class="lazy-load" lazy-load="easyui-textbox"  wms:data-options="label:'${web.label.remark}',labelPosition:'top'">
							</td>
						</tr>
					</table>
				</div>
				<div wms:title="${web.label.pack.inner}">
					<table style="width: 100%;padding-left: 10px;">
						 <tr>
							<td >
								<input name="weightGrossInner" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.weightgross}',
									labelPosition:'top'
									">
							</td>
							<td >
								<input name="weightNetInner" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.weightnet}',
									labelPosition:'top'
									">
							</td>
							<td >
								<input name="weightTareInner" class="lazy-load" lazy-load="easyui-numberbox" value="0"  wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.weighttare}',
									labelPosition:'top'
									">
							</td>
						 </tr>
						  <tr>
							<td >
								<input id="lengthInner" name="lengthInner" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.length}',
									labelPosition:'top',
									onChange(newValue, oldValue){
										calculateCase(newValue);
									}
									">
							</td>
							<td >
								<input id="widthInner" name="widthInner" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.width}',
									labelPosition:'top',
									onChange(newValue, oldValue){
										calculateInner(newValue);
									}
									">
							</td>
							<td >
								<input id="heightInner" name="heightInner" class="lazy-load" lazy-load="easyui-numberbox" value="0"  wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.height}',
									labelPosition:'top',
									onChange(newValue, oldValue){
										calculateInner(newValue);
									}
									">
							</td>
						 </tr>
						 <tr>
						 	<td >
								<input id="volumeInner" name="volumeInner" class="lazy-load" lazy-load="easyui-numberbox" value="0"  wms:data-options="required:true,precision:4,label:'${web.inventory.volume}',labelPosition:'top'">
							</td>
							<td >
								&nbsp;
							</td>
							<td >
								&nbsp;
							</td>
						 </tr>
					</table>
				</div>
				<div wms:title="${web.label.pack.case}" >
					<table style="width: 100%;padding-left: 10px;">
						 <tr>
							<td >
								<input name="weightGrossCase" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="required:true,precision:4,label:'${web.inventory.weightgross}',labelPosition:'top'">
							</td>
							<td >
								<input name="weightNetCase" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="required:true,precision:4,label:'${web.inventory.weightnet}',labelPosition:'top'">
							</td>
							<td >
								<input name="weightTareCase" class="lazy-load" lazy-load="easyui-numberbox" value="0"  wms:data-options="required:true,precision:4,label:'${web.inventory.weighttare}',labelPosition:'top'">
							</td>
						 </tr>
						  <tr>
							<td >
								<input id="lengthCase" name="lengthCase" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.length}',
									labelPosition:'top',
									onChange(newValue, oldValue){
										calculateCase(newValue);
									}
									">
							</td>
							<td >
								<input id="widthCase" name="widthCase" class="lazy-load" lazy-load="easyui-numberbox" value="0"   wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.width}',
									labelPosition:'top',
									onChange(newValue, oldValue){
										calculateCase(newValue);
									}
									">
							</td>
							<td >
								<input id="heightCase" name="heightCase" class="lazy-load" lazy-load="easyui-numberbox" value="0"  wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.height}',
									labelPosition:'top',
									onChange(newValue, oldValue){
										calculateCase(newValue);
									}
									">
							</td>
						 </tr>
						 <tr>
						 	<td >
								<input id="volumeCase" name="volumeCase" class="lazy-load" lazy-load="easyui-numberbox" value="0"  wms:data-options="
									required:true,
									precision:4,
									label:'${web.inventory.volume}',
									labelPosition:'top'
									">
							</td>
							<td >
								&nbsp;
							</td>
							<td >
								&nbsp;
							</td>
						 </tr>
					</table>
				</div>
			   </div>
			</form>
		</div>
		<div style="text-align: center;margin-top: 15px;">
				<a href="#" class="easyui-linkbutton pack-save" data-form="#addForm" data-table="#packData" id="submitaddForm" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:80px;">
					<span style="font-size:14px;" wms:text="${web.label.save}">Save</span>
				</a>
				<a href="#" style="display: none;" class="common-confirmadd" data-form="#addForm" data-table="#packData" id="submitaddForm" >Add</a>
				<a href="#" class="easyui-linkbutton" id="clearAddForm" onclick="$('#addForm').form('clear');" data-options="iconCls:'icon-clear'" style="padding:5px 0px;width:80px;">
					<span style="font-size:14px;" wms:text="${web.label.clear}">Clear</span>
				</a>
			</div>
		</div>
	</div>
</body>
<script th:replace="common/js" />
<script type="text/javascript" th:src="@{/js/codelkupList?listName=YESNO,UOM}"></script>
<script type="text/javascript" th:inline="text">
var editData;
var addFlag = true;
$(function(){
	$('.common-add').click(function(){
		addFlag = true;
	});
	$('.pack-save').click(function(){
		if (addFlag){
			$('.common-confirmadd').trigger('click');
		}else{
			save();
		}
	});
});

function toEdit(data) {
	addFlag = false;
    if (typeof(data) == 'object') {
        editData = data;
    }else{
    	showError($.locale.selectOneRow);
    }
    var panel = '#addDiv';
    lazyLoadView(panel);
    $(panel).dialog({
        closed: true,
        modal: true,
        fix: true,
        buttons: '#editButton',
    }).dialog('open');
    $(panel).find('form').form('reset');
    var from = $(panel).find('form');
    $(from).form('load', editData);
}

function save(){
	var valid = $('#addForm').form('validate');
	if (!valid) {
		return;
	}
	var data = $('#addForm').serializeObject();
	var dataArr = [data];
	data = getBaseData(dataArr);
	loading();
	$.post({
		url: '../../services/inner/base/pack/save',
		data:data,
		success: function(data){
			data = returnData(data);
			closeLoading();
			if (data.code == '0') {
				showError(data.msg);
				return;
			}
			$('#addForm').form('reset');
			$('#addForm').parents('.window-body').dialog('close');
			if ($('.common-search').length > 0){
				$('.common-search').trigger('click');
			}
		}
	});
}

/**
 * 根据长、宽、高自动计算体积
 **/
function calculateInner() {
	//var volume = $('#volume').numberbox('getValue');
	//if (Number(volume) != 0){
	//	return;
	//}
	var length = $('#lengthInner').numberbox('getValue');
	var width = $('#widthInner').numberbox('getValue');
	var height = $('#heightInner').numberbox('getValue');
	$('#volumeInner').numberbox('setValue',Number(length) * Number(width) * Number(height));
}

/**
 * 根据长、宽、高自动计算体积
 **/
function calculateCase() {
	//var volume = $('#volume').numberbox('getValue');
	//if (Number(volume) != 0){
	//	return;
	//}
	var length = $('#lengthCase').numberbox('getValue');
	var width = $('#widthCase').numberbox('getValue');
	var height = $('#heightCase').numberbox('getValue');
	$('#volumeCase').numberbox('setValue',Number(length) * Number(width) * Number(height));
}


</script>
</html>
