<!DOCTYPE html>
<html>
<head>
    <title wms:text="${wms.base.sku.title}">货品</title>
    <head th:replace="common/head" />
</head>
<body class="easyui-layout" >
     <!-- ella -->
     <div class="icon-loading" style="position: absolute; z-index: 999999;width: 100%; height: 100%;opacity: 1;background-color: white;" >&nbsp;</div>
	<div data-options="region:'west',collapsible:true" wms:title="${web.label.search.title}" style="width:200px; ">
		<div id="searchDiv" class="easyui-layout" style="height: 100%;">
			<div style="margin-left: 10px;height: 100%;" data-options="region:'north',border:false" >
				<form id="searchForm" data-table="#skuData" style="height: 900px;">
				    <div style="margin-bottom:10px">
						<input name="ownerCode" class="easyui-textbox" wms:data-options="label:'${web.label.owner}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="skuCode" class="easyui-textbox" wms:data-options="label:'${web.label.sku}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="skuAlias" class="easyui-textbox" wms:data-options="label:'${web.label.skualias}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="skuDescr" class="easyui-textbox" wms:data-options="label:'${web.label.skudescr}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input class="easyui-combobox" name="skuType" wms:data-options="
						data: codelkups['SKUTYPE'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.sku}',
						labelPosition: 'top'
						" />
					</div>
					<div style="margin-bottom:10px">
						<input name="packCode" class="easyui-textbox" wms:data-options="label:'${web.label.pack}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="barcode" class="easyui-textbox" wms:data-options="label:'${web.label.barcode}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="putawayStrategyCode" class="easyui-textbox" wms:data-options="label:'${web.label.putawayStrategycode}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="putawayZoneCode" class="easyui-textbox" wms:data-options="label:'${web.label.zone}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="putawayLocationCode" class="easyui-textbox" wms:data-options="label:'${web.label.putawayLocationcode}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input name="allocateStrategyCode" class="easyui-textbox" wms:data-options="label:'${web.label.allocatestrategycode}',labelPosition:'top'">
					</div>
					<div style="margin-bottom:10px">
						<input class="easyui-combobox" name="active" wms:data-options="
						data: codelkups['YESNO'],
						valueField: 'code',
						textField: 'descr',
						label: '${web.label.active}',
						labelPosition: 'top'
						">
					</div>
				</form>
			</div>
			<div style="text-align: center;height:50px;" data-options="region:'south',border:false">
				<a href="#" class="easyui-linkbutton common-search" data-form="#searchForm" style="width:80px;" data-options="iconCls:'icon-search'" >
					<span wms:text="${web.label.search}">Search</span>
				</a>	
				<a href="#" class="easyui-linkbutton common-search-clear" data-form="#searchForm" style="width:80px;" data-options="iconCls:'icon-clear'" >
					<span wms:text="${web.label.clear}">Clear</span>
				</a>
			</div>
				
		</div>
	</div>
     <!-- ella end -->
     
	<div data-options="region:'center',border:false" >
		<div class="tableToolbar">
			<a href="#" class="easyui-linkbutton common-add" data-addpanel="#addDiv">
				<span wms:text="${web.label.add}">Add</span>
			</a>
			<a href="#" class="easyui-linkbutton common-rowsave" data-table="#skuData" th:data-url="@{/services/inner/base/sku/save}" >
				<span wms:text="${web.label.save}">Save</span>
			</a>
			<a href="#" class="easyui-linkbutton" onclick="importExcel('SKU')" wms:text="${web.label.import}">Import</a>
			<a href="#" class="easyui-linkbutton" onclick="exportExcel('SKU', '#searchForm')" wms:text="${web.label.export}">Export</a>
			<a href="#" class="easyui-linkbutton common-rowdel"  data-table="#skuData" th:data-url="@{/services/inner/base/sku/delete}">
				<span wms:text="${web.label.delete}">Delete</span>
			</a>
		</div>
		<div>
			<table id="skuData" wms:title="${web.label.skulist.title}" class="easyui-datagrid"
							th:data-delayUrl="@{/services/inner/base/sku/find}" data-options="
								onBeforeEdit: function(rowIndex, rowData){
									var putawayLocatoinCode = $('#skuData').datagrid('getColumnOption','putawayLocationCode');
									if (putawayLocatoinCode.editor != undefined){
										putawayLocatoinCode.editor.options.onBeforeLoad = function(param){
											$.extend(param, {zoneCode: rowData.putawayZoneCode})
										},
										putawayLocatoinCode.editor.options.onClickRow = function(i, row){
											rowData.putawayZoneCode = row.zoneCode
										}
									}
								}
							">
				<thead data-options="frozen:true">
	            	<tr>
	            		<th field="skuId" data-options="checkbox:true"></th>
	            		<th field="edit" data-options="
										formatter:function(value,row){
											var data = JSON.stringify(row);
											var detail = '<span title = \'编辑\' onclick=\'toEdit('+data+')\' class=\'icon-edit\'>&nbsp;</span>';
											return detail;
										}
									"></th>
	            	</tr>
	            </thead>
				<thead>
					<tr>
						<th field="ownerCode" width="80" wms:text="${web.label.owner}" data-options="sortable:true">ownerCode</th>
						<th field="skuCode" width="80" wms:text="${web.label.sku}" data-options="sortable:true">skuCode</th>
						<th field="skuAlias" width="80" wms:text="${web.label.skualias}" data-options="sortable:true,editor:'text'">skuAlias</th>
						<th field="barcode" width="100" wms:text="${web.label.barcode}" data-options="sortable:true,editor:'text'" >barcode</th>
						<th field="skuDescr" width="100" wms:text="${web.label.skudescr}" data-options="sortable:true,editor:{
																													type: 'validatebox',
																													options: {
																														required: true
																													}
																												}">skuDescr</th>
						<th field="skuType" width="80" wms:text="${web.label.type}" data-options="
							sortable:true,
							required:true,
							formatter:function(value,row){
								return getCodelkupValue('SKUTYPE',value);
							},
							editor:{
								type:'combobox',
								options:{
									valueField:'code',
									textField:'descr',
									data: codelkups['SKUTYPE']
								}
							}
						">skuType</th>
						<th field="packCode" width="80" wms:text="${web.label.pack}" wms:data-options="
							sortable:true,
							editor:{
								type:'combogrid',
								options:{
								    required: true,
									idField:'packCode',
	    							textField:'packCode',
									url:'../../services/inner/base/pack/find',
									queryParams: getBaseData(),
								    columns:[[
									    {field:'packId',hidden:true},
								        {field:'packCode',title:'${web.label.code}',width:150}
								    ]]
								}
							}

						">packCode</th>
						<th field="uom" width="100" wms:text="${web.label.uom}" data-options="
							sortable:true,
							required:true,
							formatter:function(value,row){
								return getCodelkupValue('UOM',value);
							},
							editor:{
								type:'combobox',
								options:{
									required: true,
									valueField:'code',
									textField:'descr',
									data: codelkups['UOM']
								}
							}
						" >uom</th>
						<th field="lotValidateCode" width="100" wms:text="${web.label.lotvalidate}" wms:data-options="
							sortable:true,
							editor:{
								type:'combogrid',
								options:{
									required: true,
									idField:'lotValidateCode',
	    							textField:'lotValidateCode',
									url:'../../services/inner/base/lotValidate/find',
									queryParams: getBaseData(),
								    columns:[[
									    {field:'lotValidateCode',title:'${web.label.code}',width:150},
									    {field:'lotValidateDescr',title:'${web.label.descr}',width:150}
								    ]]
								}
							}

						" >lotValidate</th>
						<th field="allocateStrategyCode" width="100" wms:text="${web.label.allocatestrategycode}" wms:data-options="
							sortable:true,
							editor:{
								type:'combogrid',
								options:{
									required: true,
									idField:'allocateStrategyCode',
	    							textField:'allocateStrategyCode',
									url:'../../services/inner/base/allocateStrategy/find',
									queryParams: getBaseData(),
								    columns:[[
									    {field:'allocateStrategyId',hidden:true},
								        {field:'allocateStrategyCode',title:'${web.label.code}',width:150}
								    ]]
								}
							}

						"  >allocateStrategyCode</th>
						<th field="putawayStrategyCode" width="100" wms:text="${web.label.putawayStrategycode}" wms:data-options="
							sortable:true,
							editor:{
								type:'combogrid',
								options:{
									required: true,
									idField:'putawayStrategyCode',
	    							textField:'putawayStrategyCode',
									url:'../../services/inner/base/putawayStrategy/find',
									queryParams: getBaseData(),
								    columns:[[
									    {field:'putawayStrategyId',hidden:true},
								        {field:'putawayStrategyCode',title:'${web.label.code}',width:150}
								    ]]
								}
							}

						" >putawayStrategyCode</th>
						<th field="putawayZoneCode" width="100" wms:text="${web.label.zone}" wms:data-options="
							sortable:true,
							editor:{
								type:'combogrid',
								options:{
									idField:'zoneCode',
	    							textField:'zoneCode',
									url:'../../services/inner/base/zone/find',
									queryParams: getBaseData(),
								    columns:[[
									    {field:'zoneId',hidden:true},
								        {field:'zoneCode',title:'${web.label.code}',width:150}
								    ]]
								}
							}

						"  >putawayZoneCode</th>
						<th field="putawayLocationCode" width="100" wms:text="${web.label.putawayLocationcode}" wms:data-options="
							sortable:true,
							editor:{
								type:'combogrid',
								options:{
									idField:'locationCode',
	    							textField:'locationCode',
									url:'../../services/inner/base/location/find',
									queryParams: getBaseData(),
								    columns:[[
									    {field:'locationId',hidden:true},
								        {field:'locationCode',title:'${web.label.code}',width:150},
								        {field:'zoneCode',title:'${web.label.zone}',width:100},
								    	{field:'locationType',title:'${web.label.type}',width:100,formatter:function(value,row){
											return getCodelkupValue('LOCATIONTYPE',value);
										}}
								    ]]
								}
							}

						"  >putawayLocationCode</th>
						<th field="active" width="50" wms:text="${web.label.active}" data-options="
							sortable:true,
							required:true,
							formatter:function(value,row){
								return getCodelkupValue('YESNO',value);
							},
							editor:{
								type:'combobox',
								options:{
									valueField:'code',
									textField:'descr',
									data: codelkups['YESNO'],
									required: true
								}
							}
						" >active</th>
						<th field="createBy" width="80" wms:text="${web.label.createby}">createBy</th>
						<th field="createTime" width="150" wms:text="${web.label.createtime}"  data-options="sortable:true">createTime</th>
						<th field="updateBy" width="80" wms:text="${web.label.updateby}" >updateBy</th>
						<th field="updateTime" width="150" wms:text="${web.label.updatetime}" data-options="sortable:true">updateTime</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div id="addDiv" wms:title="${web.label.add}" style="width:700px;height:470px; display: none;" >
		<div style="width: 100%;">
			<form method="post" id="addForm" th:data-url="@{/services/inner/base/sku/add}">
			  <div class="lazy-load" lazy-load="easyui-tabs" style="width: 100%;height:360px;" >
				  <div wms:title="${web.label.normal}" style="padding-left: 10px;">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td style="width: 25%">
								<input id="ownerCode" name="ownerCode" th:replace="lov/owner" />
								<input type="hidden" name="ownerId" id="ownerId" />
							</td>
							<td style="width: 25%">
								<input id="skuCode" name="skuCode" class="easyui-textbox" style="width: 96%"  wms:data-options="required:true,label:'${web.label.sku}',labelPosition:'top',validType:['characterNumber','length[0,50]']">
							</td>
							<td style="width: 25%">
								<input name="skuAlias" class="easyui-textbox" style="width: 96%" wms:data-options="label:'${web.label.skualias}',labelPosition:'top'">
							</td>
							<td style="width: 25%">
								<input id="barcode"  name="barcode" class="easyui-textbox" style="width: 96%"  wms:data-options="label:'${web.label.barcode}',labelPosition:'top'">
							</td>
						 </tr>
						 <tr >
						    <td colspan="2" >
								<input name="skuDescr" class="lazy-load"  lazy-load="easyui-textbox" wms:data-options="
								required:true,label:'${web.label.skudescr}',labelPosition:'top',multiline:true" style="width:96%; height:80px"/>
							</td>
							<td >
								<input name="skuType" class="easyui-combobox" style="width: 96%" wms:data-options="
									required:false,
									data: codelkups['SKUTYPE'],
									valueField: 'code',
									textField: 'descr',
									label: '${web.label.type}',
									labelPosition: 'top'" />
							</td>
							<td >
								<input id="volume" name="volume" class="lazy-load" lazy-load="easyui-numberbox" value="0" style="width: 96%" wms:data-options="
									required:true,
									precision:4,
									label:'${web.label.volume}',
									labelPosition:'top',
									validType:['greaterthanzero']">
							</td>
						 </tr>
						 <tr>
							<td >
								<input name="packCode" th:replace="lov/pack" />
								<input type="hidden" name="packId" id="packId" />
							</td>
							<td >
								<input id="length" name="length" class="lazy-load" lazy-load="easyui-numberbox" value="0" style="width: 96%" wms:data-options="
								required:true,
								precision:4,
								label:'${web.label.length}',
								labelPosition:'top',
								validType:['greaterthanzero'],
								onChange(newValue, oldValue){
									calculateVolume(newValue);
								}
								">
							</td>
							<td >
								<input id="width" name="width" class="lazy-load" lazy-load="easyui-numberbox" value="0" style="width: 96%"  wms:data-options="
								required:true,
								precision:4,
								label:'${web.label.width}',
								labelPosition:'top',
								validType:['greaterthanzero'],
								onChange(newValue, oldValue){
									calculateVolume(newValue);
								}
								">
							</td>
							<td >
								<input id="height" name="height" class="lazy-load" lazy-load="easyui-numberbox" value="0" style="width: 96%" wms:data-options="
								required:true,
								precision:4,
								label:'${web.label.height}',
								labelPosition:'top',
								validType:['greaterthanzero'],
								onChange(newValue, oldValue){
									calculateVolume(newValue);
								}
								">
							</td>
						 </tr>
						 <tr>
							<td >
								<input name="uom" class="easyui-combobox"  style="width: 96%" wms:data-options="
									required:true,
									data: codelkups['UOM'],
									value: 'EA',
									valueField: 'code',
									textField: 'descr',
									label: '${web.label.uom}',
									labelPosition: 'top'
									" />
							</td>
							<td >
								<input id="weightGross" name="weightGross" class="lazy-load" lazy-load="easyui-numberbox" value="0" style="width: 96%" wms:data-options="
									required:true,
									precision:4,
									label:'${web.label.weightgross}',
									labelPosition:'top',
									validType:['greaterthanzero'],
									onChange: function(newValue, oldValue){
										calculateTareWeight();
									}">
							</td>
							<td >
								<input id="weightNet" name="weightNet" class="lazy-load" lazy-load="easyui-numberbox" value="0" style="width: 96%" wms:data-options="
									required:true,
									precision:4,
									label:'${web.label.weightnet}',
									labelPosition:'top',
									validType:['greaterthanzero'],
									onChange: function(newValue, oldValue){
										calculateTareWeight();
									}">
							</td>
							<td >
								<input id="weightTare" name="weightTare" class="lazy-load" lazy-load="easyui-numberbox" value="0" style="width: 96%" wms:data-options="
									required:true,
									precision:4,
									label:'${web.label.weighttare}',
									labelPosition:'top',
									validType:'greaterthanzero'" />	
							</td>
						 </tr>
						 <tr>
						 	<td >
								<input name="uomBilling" class="easyui-combobox"  style="width: 96%" wms:data-options="
									required:true,
									data: codelkups['BILLINGUOM'],
									valueField: 'code',
									textField: 'descr',
									label: '${web.label.uom.billing}',
									labelPosition: 'top'
									" />
							</td>
							<td colspan="3" >
								<input class="easyui-combobox" name="active" style="width: 100px" wms:data-options="
								required:true,
								value: 'Y',
								data: codelkups['YESNO'],
								valueField: 'code',
								textField: 'descr',
								label: '${web.label.active}',
								labelPosition: 'top'
								" />
							</td>
						 </tr>
						</table>
					</div>
					<div wms:title="${web.lable.control}" style="padding-left: 10px;" >
						<table border="0" width="100%">
							<tr>
								<td width="33%">                  
									<input name="lotValidateCode" class="easyui-combogrid" style="width: 96%" wms:data-options="
										label: '${web.label.lotvalidate}',
										labelPosition: 'top',
										idField:'lotValidateCode',
		    							textField:'lotValidateCode',
		    							value: 'STD',
										url:'../../services/inner/base/lotValidate/find',
										queryParams: getBaseData(),
									    columns:[[
										    {field:'lotValidateCode',title:'${web.label.code}',width:150},
										    {field:'lotValidateDescr',title:'${web.label.descr}',width:150}
									    ]]
									" />
								</td>
								<td width="33%">
									<input name="allocateStrategyCode" th:replace="lov/allocateStrategy" />
									<input type="hidden" name="allocateStrategyId" id="allocateStrategyId" />
								</td>
								<td width="33%">
									&nbsp;
								</td>
							</tr>
							<tr>
								<td >                  
									<input name="putawayStrategyCode" th:replace="lov/putawayStrategy" />
									<input type="hidden" name="putawayStrategyId" id="putawayStrategyId" />
								</td>
								<td >
									<input id="putawayZoneCode" name="putawayZoneCode" class="lazy-load" lazy-load="easyui-combogrid" style="width: 96%" wms:data-options="
										label: '${web.label.zone}',
										labelPosition: 'top',
										idField:'zoneCode',
		    							textField:'zoneCode',
										url:'../../services/inner/base/zone/find',
									    queryParams: getBaseData(),
									    columns:[[
										    {field:'zoneId',hidden:true},
										    {field:'zoneCode',title:'${web.label.zone}',width:100},
										    {field:'pickToLocation',title:'${web.label.pickToLocation}',width:100},
										    {field:'type',title:'${web.label.type}',width:80,formatter:function(value,row){
													return getCodelkupValue('ZONETYPE',value);
												}
											}
									    ]]
									" />
								</td>
								<td >
									<input name="putawayLocationCode" class="easyui-combogrid" style="width: 96%" wms:data-options="
										label: '${web.label.putawayLocationcode}',
										labelPosition: 'top',
										idField:'locationCode',
		    							textField:'locationCode',
										url:'../../services/inner/base/location/find',
										queryParams: getBaseData(),
										onClickRow: function(rowIndex, rowData){
											$('#putawayZoneCode').combogrid('setValue', rowData.zoneCode)
										},
										onBeforeLoad: function(param){
											$.extend(param, {zoneCode: $('#putawayZoneCode').combobox('getText')})
										},
									    columns:[[
										    {field:'locationId',hidden:true},
										    {field:'locationCode',title:'${web.label.code}',width:150},
										    {field:'zoneCode',title:'${web.label.zone}',width:100},
									    	{field:'locationType',title:'${web.label.type}',width:100,formatter:function(value,row){
												return getCodelkupValue('LOCATIONTYPE',value);
											}
										}
									    ]]
									" />
								</td>
							</tr>
						</table>
					</div>
					<div wms:title="${web.lable.lotattribute}" style="padding-left: 10px;" >
						<table border="0" width="100%">
							<tr>
								<td width="25%">                  
									<input id="lotAttribute1" name="lotAttribute1Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute1}"  wms:data-options="label:'${web.label.lotattribute1}',labelPosition:'top'" />
								</td>
								<td width="25%">
									<input id="lotAttribute4" name="lotAttribute4Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute4}" wms:data-options="label:'${web.label.lotattribute4}',labelPosition:'top'" />
								</td>
								<td width="25%">
									<input id="lotAttribute7" name="lotAttribute7Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute7}"  wms:data-options="label:'${web.label.lotattribute7}',labelPosition:'top'" />
								</td>
								<td width="25%">
									<input id="lotAttribute10" name="lotAttribute10Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute10}"  wms:data-options="label:'${web.label.lotattribute10}',labelPosition:'top'" />
								</td>
							</tr>
							<tr>
								<td >
									<input id="lotAttribute2" name="lotAttribute2Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute2}"  wms:data-options="label:'${web.label.lotattribute2}',labelPosition:'top'" />
								</td>
								<td>
									<input id="lotAttribute5" name="lotAttribute5Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute5}"  wms:data-options="label:'${web.label.lotattribute5}',labelPosition:'top'" />
								</td>
								<td>
									<input id="lotAttribute8" name="lotAttribute8Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute8}"  wms:data-options="label:'${web.label.lotattribute8}',labelPosition:'top'" />
								</td>
								<td >
									<input id="lotAttribute11" name="lotAttribute11Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute11}"  wms:data-options="label:'${web.label.lotattribute11}',labelPosition:'top'" />
								</td>
							</tr>
							<tr>
								<td >
									<input id="lotAttribute3" name="lotAttribute3Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute3}"  wms:data-options="label:'${web.label.lotattribute3}',labelPosition:'top'" />
								</td>
								<td>
									<input id="lotAttribute6" name="lotAttribute6Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute6}"  wms:data-options="label:'${web.label.lotattribute6}',labelPosition:'top'" />
								</td>
								<td>
									<input id="lotAttribute9" name="lotAttribute9Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute9}"  wms:data-options="label:'${web.label.lotattribute9}',labelPosition:'top'" />
								</td>
								<td >
									<input id="lotAttribute12" name="lotAttribute12Label" class="lazy-load" lazy-load="easyui-textbox" style="width: 96%" wms:value="${web.label.lotattribute12}"  wms:data-options="label:'${web.label.lotattribute12}',labelPosition:'top'" />
								</td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div>
		<div style="text-align: center;margin-top: 15px;">
			<a href="#" class="easyui-linkbutton sku-save" data-form="#addForm" data-table="#skuData" id="submitaddForm" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:80px;">
				<span style="font-size:14px;" wms:text="${web.label.save}">Save</span>
			</a>
			<a href="#" style="display: none;" class="common-confirmadd" data-form="#addForm" data-table="#skuData" id="submitaddForm" >Add</a>
			<a href="#" class="easyui-linkbutton" id="clearAddForm" onclick="$('#addForm').form('clear');" data-options="iconCls:'icon-clear'" style="padding:5px 0px;width:80px;">
				<span style="font-size:14px;" wms:text="${web.label.clear}">Clear</span>
			</a>
		</div>
	</div>
</body>
<script th:replace="common/js" />
<script type="text/javascript" th:src="@{/js/codelkupList?listName=YESNO,SKUTYPE,UOM,ZONETYPE,BILLINGUOM}"></script>
<script type="text/javascript" th:inline="text">
	//记录上一个编辑列
	var perChanges;
	var editData;
	var addFlag = true;
	
    $(function(){
    	$('.common-add').click(function(){
    		addFlag = true;
    	});
    	$('.sku-save').click(function(){
    		if (addFlag){
    			$('.common-confirmadd').trigger('click');
    		}else{
    			save();
    		}
    	});
    	$('#skuCode').textbox({
    		onChange: function(newValue, oldValue){
    			var value = $('#barcode').textbox('getValue');
    			if (value == ''){
    				$('#barcode').textbox('setValue', newValue);
    			}
    		}
    	});
    });
    
    /**
	 * 根据长、宽、高自动计算体积
	 **/
	function calculateVolume() {
		//var volume = $('#volume').numberbox('getValue');
		//if (Number(volume) != 0){
		//	return;
		//}
		var length = $('#length').numberbox('getValue');
		var width = $('#width').numberbox('getValue');
		var height = $('#height').numberbox('getValue');
		var volume = Number(length) * Number(width) * Number(height);
		if (Number(length) < 0 || Number(width) < 0 || Number(height) < 0 || Number(volume) < 0) {
			showError($.locale.lessThenZero);
			return false;
		}
		if (Number(weightGross) < Number(weightNet)) {
			showError($.locale.weightGrossMorethenNet);
			return false;
		}
		$('#volume').numberbox('setValue', volume);
	}
	/**
	 * 根据毛重、净重 自动计算皮重
	 **/
	function calculateTareWeight() {
		var weightGross = $('#weightGross').numberbox('getValue');
		var weightNet = $('#weightNet').numberbox('getValue');
		var tareWeight = Number(weightGross) - Number(weightNet);
		if (Number(weightGross) < 0 || Number(weightNet) < 0 || Number(tareWeight) < 0) {
			showError($.locale.lessThenZero);
			return false;
		}
		if (Number(weightGross) < Number(weightNet)) {
			showError($.locale.weightGrossMorethenNet);
			return false;
		}
		$('#weightTare').numberbox('setValue',tareWeight);
		return true;
	}
	
	
	var loadFlag = false;
	function toEdit(data) {
		addFlag = false;
	    if (typeof(data) == 'object') {
	        editData = data;
	    }else{
	    	showError($.locale.selectOneRow);
	    }
	    var panel = '#addDiv';
	    lazyLoadView(panel);
	    $(panel).dialog({
	        closed: true,
	        modal: true,
	        fix: true,
	    }).dialog('open');
	    loadFlag = true;
	    $(panel).find('form').form('reset');
	    var from = $(panel).find('form');
	    $(from).form('load', editData);
	    loadFlag = false;
	}
	
	function save(){
		var valid = $('#addForm').form('validate');
		if (!valid) {
			return;
		}
		var data = $('#addForm').serializeObject();
		var dataArr = [data];
		data = getBaseData(dataArr);
		loading();
		$.post({
			url: '../../services/inner/base/sku/save',
			data:data,
			success: function(data){
				data = returnData(data);
				closeLoading();
				if (data.code == '0') {
					showError(data.msg);
					return;
				}
				loadFlag = true;
				$('#addForm').form('reset');
				loadFlag = false;
				$('#addForm').parents('.window-body').dialog('close');
				if ($('.common-search').length > 0){
					$('.common-search').trigger('click');
				}
			}
		});
	}

</script>
</html>
