<div class="easyui-layout" wms:title="${web.label.outboundlist.title}" id="outboundsLayout" style="width: 800px;height: 500px;display: none;" data-options="fix:true">
     <table id="outbounds" 
            data-options="
			  toolbar:'#waveTool',
			  fit:true
				"
				th:data-delayUrl="@{/services/inner/outbound/waveTemplate/findAllOutbound}">
         <thead  data-options="frozen:true">
	         <tr>
	         	 <th field="outboundHeaderId" data-options="checkbox:true"></th>
	         </tr>
         </thead>
         <thead>
         	<tr>
		         <th field="outboundNumber" width="130" wms:text="${web.label.outboundnumber}"
		             data-options="sortable:true">outboundNumber
		         </th>
		         <th field="sourceNumber" width="100" wms:text="${web.label.sourcebillnumber}">sourceNumber</th>
		         <th field="type" width="80" wms:text="${web.label.type}" data-options="
						sortable:true,
						formatter:function(value,row){
							return getCodelkupValue('OUTBOUNDTYPE',value);
						}
					">type
		         </th>
		         <th field="status" width="80" wms:text="${web.label.status}" data-options="
						sortable:true,
						formatter:function(value,row){
							return getCodelkupValue('OUTBOUNDSTATUS',value);
						}
					">status
		         </th>
		         <th field="ownerCode" width="80" wms:text="${web.label.owner}">ownerCode</th>
		         <th field="customerCode" width="80" wms:text="${web.label.customercode}">customerCode</th>
		         <th field="carrierCode" width="80" wms:text="${web.label.carrier}">carrierCode</th>
		         <th field="expectedoutbounddate" width="130" wms:text="${web.label.expectedoutbounddate}">
		             expectedoutbounddate
		         </th>
		         <th field="createBy" width="80" wms:text="${web.label.createby}">createBy</th>
                 <th field="createTime" width="130" wms:text="${web.label.createtime}"
                     data-options="sortable:true">createTime
                 </th>
                 <th field="updateBy" width="80" wms:text="${web.label.updateby}">updateBy</th>
                 <th field="updateTime" width="130" wms:text="${web.label.updatetime}"
                     data-options="sortable:true">updateTime
                 </th>
		      </tr>
         </thead>
     </table>
	 <div id="waveTool" style="padding-left: 20px;">
	 	<a href="#"  class="easyui-linkbutton" onclick="remove()"  wms:text="${web.label.delete}" >Delete</a>
	 	<input id="remark" name="remark" class="easyui-textbox"
	               wms:data-options="label:'${web.label.remark}',labelPosition:'before',labelAlign:'right'"
	               style="width: 300px;margin-left: 30px;"/>
	    <a href="#"  class="easyui-linkbutton" id="createWave" onclick="createWave()"  wms:text="${web.label.createwave}" >Create Wave</a>
	    <a href="#"  class="easyui-linkbutton" id="addtoWave"  wms:text="${web.label.addtowave}" >Add to Wave</a>
	 </div>
 </div>
<script type="text/javascript">
	var detailFilterRules = [{
		field:'createTime',
		type:'datebox',
		op:['nofilter']
	},
	{
		field:'updateTime',
		type:'datebox',
		op:['nofilter']
	},
	{
		field:'expectedoutbounddate',
		type:'datebox',
		op:['nofilter']
	},
	{
		field:'status',
		type:'combobox',
		options:{
			panelHeight:'auto',
			data:getFilterCodelkupValue('outbounds'),
			onChange:function(value){
				if (value == '---' || value == ''){
					$('#waveDetailTable').datagrid('removeFilterRule', 'status');
				} else {
					$('#waveDetailTable').datagrid('addFilterRule', {
						field: 'status',
						op: 'equal',
						value: value
					});
				}
				$('#waveDetailTable').datagrid('doFilter');
			}
		}
	}];
	
	var gridData = [];
	var waveTemplate = {};
	var findAll = false; //标记是否查询所有订单
	function loadData(){
		$("#outbounds").datagrid({
			loadFilter:pagerFilter,
			pageSize: 10,
			pageList: [10,50,100,500,1000],
			multiSort: false,
			remoteSort: false
		}).datagrid('loadData', gridData);
	}
	
	function getAllData(){
		if (findAll){
			return $("#outbounds").datagrid('getChecked');
		}else{
			return gridData;
		}
	}
	
	/*自定义前端分页插件*/
	function pagerFilter(data){
		if (typeof data.length == 'number' && typeof data.splice == 'function'){	// is array
			data = {
				total: data.length,
				rows: data
			}
		}
		var dg = $(this);
		var opts = dg.datagrid('options');
		var pager = dg.datagrid('getPager');
		pager.pagination({
			onSelectPage:function(pageNum, pageSize){
				opts.pageNumber = pageNum;
				opts.pageSize = pageSize;
				pager.pagination('refresh',{
					pageNumber:pageNum,
					pageSize:pageSize
				});
				dg.datagrid('loadData',data);
			}
		});
		if (!data.originalRows){
			data.originalRows = (data.rows);
		}
		var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
		var end = start + parseInt(opts.pageSize);
		data.rows = (data.originalRows.slice(start, end));
		return data;
	}

	/*通过模板id显示*/
    function findOutbound(template){
		
		//隐藏
		$('#addtoWave').hide();
    	$('#remark').val('');
    	
    	waveTemplate = template;
    	var baseData = getBaseData(template);
    	loading();
    	$.post({
    		url:getServiceUrl() + "/services/inner/outbound/waveTemplate/findOutbound",
    		data:baseData,
    		success:function(data){
    			var rdata = returnData(data);
    			closeLoading();
    			if (rdata.code == '0') {
                    showError(rdata.msg);
                    return;
                }
    			gridData = rdata.data;
    			loadData();
    			$("#outboundsLayout").dialog({
    	    		closed: true,
    			    modal: true,
    			    fix: true
    	    	}).dialog('open');
    		}
    	});
    }
	
	function findAllOutbound(){
		
		//隐藏
		$('#remark').val('');
		$('#createWave').hide();
		
		findAll = true;
		var url = $('#outbounds').attr('data-delayUrl');
		
		var data = getBaseData();
		var queryParams = {status : '10'}; //仅查询新状态的订单
		
		$('#outbounds').datagrid({
            url: url,
            queryParams: data,
            filterPosition: 'top',
            remoteFilter: true,
            clientPaging: false,
            oldLoadFilter: undefined,
            filterStringify: function(params, filter) {
                var obj = params;
                if (typeof(params) != 'object'){
                    return;
                }
                for (var i in filter){
                    var q = filter[i];
                    var qObj = {};
                    qObj[q.field] = q.value;
                    $.extend(obj, qObj);
                }
            }
        }).datagrid('clearChecked').datagrid('destroyFilter').datagrid('enableFilter', detailFilterRules);
	}
	
	
	function remove(){
		var checkedRows = $('#outbounds').datagrid('getChecked');
		if (checkedRows.length == 0) {
			showError($.locale.selectOneRow);
			return;
		}
		confirmMsg( $.locale.deleteOneRow,{row:checkedRows.length}, function(r){
			if (!r){
				return;
			}
			var gridOpt = $('#outbounds').datagrid('options');
			var pageNumber = gridOpt.pageNumber;
			var pageSize = gridOpt.pageSize;
			var arrIndex = ((pageNumber - 1) * pageSize);
			var total = 0;
			checkedRows.forEach(function(row,index){
				var rowindex = $('#outbounds').datagrid('getRowIndex', row);
				if(findAll){
					 $('#outbounds').datagrid('deleteRow', rowindex);
				}else{
					rowindex = arrIndex + rowindex - total;
					gridData.splice(rowindex, 1);
					total = total + 1;
				}
			});
			if(!findAll){
				loadData();
			}
		});
	}
	
	function createWave(){
		var wave = {};
		wave.waveType = waveTemplate.waveType;
		wave.remark = $('#remark').val();
		wave.detail = [];
		getAllData().forEach(function(row,index){
			var obj = {
					outboundHeaderId : row.outboundHeaderId,
					outboundNumber: row.outboundNumber
			};
			wave.detail.push(obj);
		});
		var baseData = getBaseData(wave);
		loading();
    	$.post({
    		url: getServiceUrl() + "/services/inner/outbound/wave/add",
    		data:baseData,
    		success:function(data){
    			var rdata = returnData(data);
    			closeLoading();
    			if (rdata.code == '0') {
                    showError(rdata.msg);
                    return;
                }
    			showMsg(rdata.msg, function(){
    				window.top.addPanel($('#createWave').text(), getServiceUrl() + "/web/outbound/wave");
    			});
    		}
    	});
	}
	
	function addtowave(wave, func){
		var remark = $('#remark').val();
		var detail = [];
		getAllData().forEach(function(row,index){
			var obj = {
					outboundHeaderId : row.outboundHeaderId,
					waveId : wave.waveId,
					waveNumber: wave.waveNumber,
					outboundNumber: row.outboundNumber,
					remark : remark
			};
			detail.push(obj);
		});
		var baseData = getBaseData(detail);
		loading();
    	$.post({
    		url: getServiceUrl() + "/services/inner/outbound/wavedetail/add",
    		data:baseData,
    		success:function(data){
    			var rdata = returnData(data);
    			closeLoading();
    			if (rdata.code == '0') {
                    showError(rdata.msg);
                    return;
                }
    			//执行回调方法
    			func();
    		}
    	});
	}
	
	
</script>