<!DOCTYPE html>
<html>
<head>
    <title wms:text="${web.label.wave.template}">波次模板</title>
    <head th:replace="common/head" />
    <script th:replace="common/js" />
    <script type="text/javascript" th:src="@{/js/codelkupList?listName=YESNO,WAVETYPE,OUTBOUNDTYPE,OUTBOUNDSTATUS}"></script>
</head>
<body class="easyui-layout" style="opacity: 1;" >
	<div class="icon-loading" style="position: absolute; z-index: 999999;width: 100%; height: 100%;opacity: 1;background-color: white;" >&nbsp;</div>
	<div data-options="region:'west',collapsible:true" wms:title="${web.label.search.title}" style="width:200px;">
		<div id="searchDiv"style="height: 100%;">
			<div style="margin-left: 10px;">
				<form id="waveSearchForm" data-table="#dataTable">
	                <div style="margin-bottom:10px">
	                    <input name="buildCode" class="easyui-textbox"
	                           wms:data-options="label:'${web.label.templateNumber}',labelPosition:'top'"/>
	                </div>
	            </form>
			</div>
			<div style="text-align: center;height:50px;" >
				<a href="#" class="easyui-linkbutton common-search " data-form="#waveSearchForm" style="width:80px;"
	               data-options="iconCls:'icon-search'">
	                <span wms:text="${web.label.search}">Search</span>
	            </a>
				<a href="#" class="easyui-linkbutton common-search-clear" data-form="#waveSearchForm" style="width:80px;" data-options="iconCls:'icon-clear'" >
					<span wms:text="${web.label.clear}">Clear</span>
				</a>
			</div>
				
		</div>
	</div>
	<div data-options="region:'center',border:false">
		<div class="easyui-layout" style="width: 100%;height: 100%;">
			<div data-options="region:'north',collapsible:false" style="height:35px;">
				<div class="tableToolbar">
    				<a href="#"  class="easyui-linkbutton" onclick="addDialog()"  wms:text="${web.label.add}" data-table="#requestData" th:data-url="@{/services/inner/inventory/inventoryCount/requestDelete}">New</a>
    				<a href="#"  class="easyui-linkbutton common-rowsave"  wms:text="${web.label.save}" data-table="#dataTable" th:data-url="@{/services/inner/outbound/waveTemplate/rowSave}">Save</a>
    				<a href="#"  class="easyui-linkbutton" onclick="searchOutbounds()"  wms:text="${web.label.queryOrder}">Search</a>
    				<a href="#"  class="easyui-linkbutton common-rowdel"  wms:text="${web.label.delete}" data-table="#dataTable" th:data-url="@{/services/inner/outbound/waveTemplate/delete}">Delete</a>
				</div>
			</div>
			<div data-options="region:'center',collapsible:false,border:false" >
				<div class="easyui-layout" id="detailLayout" style="width: 100%;height: 100%;" data-options="fix:true">
					<div data-options="region:'center',collapsible:false,border:false" >
						<table id="dataTable" wms:title="${web.label.wave.template}" class="easyui-datagrid" th:data-delayUrl="@{/services/inner/outbound/waveTemplate/find}">
							<thead data-options="frozen:true">
				            	<tr>
				            		<th field="waveBuildId" data-options="checkbox:true"></th>
				            		<th field="edit" data-options="
														formatter:function(value,row){
															var data = JSON.stringify(row);
															var detail = '<span title = \'编辑\' onclick=\'toEdit('+data+')\' class=\'icon-edit\'>&nbsp;</span>';
															return detail;
														}
													"></th>
				            	</tr>
				            </thead>
							<thead>
								<tr>
						            <th field="buildCode" width="130" wms:text="${web.label.templateNumber}" data-options="sortable:true">buildCode</th>
						            <th field="buildDescr" width="200" wms:text="${web.label.descr}" data-options="sortable:true,editor:'text'">buildDescr</th>
						            <th field="waveType" width="100" wms:text="${web.label.wavetype}" data-options="
						            			sortable:true,
						            			editor:{
						            				type: 'combobox',
						            				options:{
														valueField:'code',
														textField:'descr',
														data: codelkups['WAVETYPE'],
														required: true
													}
						            			}
						            			">waveType</th>
						            <th field="createBy" width="90" wms:text="${web.label.createby}" data-options="sortable:true">creater</th>
						            <th field="createTime" width="120" wms:text="${web.label.createtime}" data-options="sortable:true">create time</th>
						            <th field="updateBy" width="90" wms:text="${web.label.updateby}" data-options="sortable:true">updater</th>
						            <th field="updateTime" width="120" wms:text="${web.label.updatetime}" data-options="sortable:true">update time</th>
					            </tr>
				            </thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="addWaveTemplate" wms:title="${web.label.add}" style="width:700px;height:430px; display: none;">
	    <div style="width: 100%;padding-left: 10px;">
	        <form method="post" id="addForm">
	        	<input name="waveBuildId" type="hidden" />
	        	<input name="updateVersion" type="hidden" />
	            <table style="width: 100%;">
	                <tr>
	                    <td>
	                        <input name="buildCode"  class="easyui-textbox" readonly="readonly" wms:data-options="
	                        	label:'${web.label.templateNumber}',
	                        	labelPosition:'top'">
	                    </td>
	                    <td>
	                        <input name="waveType"  class="easyui-combobox" wms:data-options="
	                        	data: codelkups['WAVETYPE'],
	                        	valueField: 'code',
	                        	textField: 'descr',
	                        	required:true,
	                        	label:'${web.label.wavetype}',
	                        	labelPosition:'top'">
	                    </td>
	                    <td colspan="2">
	                        <input name="buildDescr" class="easyui-textbox" style="width: 96%"  wms:data-options="
	                        	required: true,
	                        	label:'${web.label.descr}',
	                        	labelPosition:'top'">
	                    </td>
	                </tr>
	                <tr>
	                	<td colspan="2">
	                        <input id="types" data-type="list" data-table="HEADER" data-property="Type" style="width: 96%" data-expression="In" class="easyui-combobox commit" wms:data-options="
								data: codelkups['OUTBOUNDTYPE'],
								valueField: 'code',
								textField: 'descr',
								label:'${web.label.outboud.contains}',
								labelPosition:'top',
								multiple: true,
								"/>
	                    </td>
	                    <td colspan="2">
	                         <input id="owners" style="width: 96%" data-type="list" data-table="HEADER" data-property="OwnerCode" data-expression="In"  class="easyui-textbox commit"  wms:data-options="label:'${web.label.owner.contains}',labelPosition:'top',
								columns:[[
									{field:'ck',checkbox:true},
									{field:'ownerCode',title:'${web.label.owner}',width:80},
									{field:'ownerDescr',title:'${web.label.descr}',width:150}
								]]">
						</td>
	                </tr>
	                <tr>
	                    <td colspan="2">
	                       <input id="customers" style="width: 96%" data-type="list" data-table="HEADER" data-property="CustomerCode" data-expression="In" class="easyui-textbox commit"  wms:data-options="label:'${web.label.customer.contains}',labelPosition:'top',
								columns:[[
									{field:'ck',checkbox:true},
									{field:'customerCode',title:'${web.label.customercode}',width:80},
								    {field:'customerDescr',title:'${web.label.descr}',width:150}
								]]">
	                    </td>
	                     <td colspan="2">
	                    	<input id="carriers" style="width: 96%" class="easyui-textbox commit" data-type="list" data-table="HEADER" data-property="CarrierCode" data-expression="In" wms:data-options="label:'${web.label.carrier.contains}',labelPosition:'top',
		                    	columns:[[
									{field:'ck',checkbox:true},
									{field:'carrierCode',title:'${web.label.carrier}',width:80},
									{field:'carrierDescr',title:'${web.label.descr}',width:150}
								]]"/>
	                    </td>
	                </tr>
	                <tr>
	                    <td colspan="4">
	                        <input id="skus" style="width: 96%" data-type="list" data-table="AGGREGATE" data-property="SkuCode" data-expression="In" class="easyui-textbox commit"  wms:data-options="label:'${web.label.skucodein}',labelPosition:'top',
								columns:[[
									{field:'ck',checkbox:true},
									{field:'ownerCode',title:'${web.label.owner}',width:80},
									{field:'skuCode',title:'${web.label.sku}',width:80},
								    {field:'skuAlias',title:'${web.label.skualias}',width:80}
								]]">
	                    </td>
	                </tr>
	                <tr>
	                	<td>
	                        <input id="expectedOutboundDateBegin" data-type="date" data-table="HEADER" data-property="ExpectedOutboundDate" data-expression="GreaterThanOrEqualTo" class="easyui-datebox commit"  wms:data-options="label:'${web.label.expectedoutbounddate.between}',labelPosition:'top'">
	                    </td>
	                    <td>
	                        <input id="expectedOutboundDateEnd" data-type="date" data-table="HEADER" data-property="ExpectedOutboundDate" data-expression="LessThanOrEqualTo" class="easyui-datebox commit" wms:data-options="label:' ',labelPosition:'top'">
	                    </td>
	                    <td>
	                        <input id="quantityOrderBegin" data-type="decimal" data-table="AGGREGATE" value="0" data-property="QuantityOrder" data-expression="GreaterThanOrEqualTo" class="easyui-numberbox commit"  wms:data-options="label:'${web.label.quantityorder.between}',labelPosition:'top'">
	                    </td>
	                    <td>
	                        <input id="quantityOrderEnd" data-type="decimal" data-table="AGGREGATE" value="9999999999" data-property="QuantityOrder" data-expression="LessThanOrEqualTo" class="easyui-numberbox commit"  wms:data-options="label:' ',labelPosition:'top'">
	                    </td>
	                </tr>
	            </table>
	        </form>
	    </div>
	    <div style="text-align: center;margin-top: 15px;">
	        <a href="#" class="easyui-linkbutton wavetemplatesave" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:80px;">
	            <span style="font-size:14px;" wms:text="${web.label.save}">Save</span>
	        </a>
	        <a href="#" style="display: none;" class="common-confirmadd"  onclick="save('add')" >Add</a>
	        <a href="#" class="easyui-linkbutton" id="clearAddForm" onclick="$('#addForm').form('clear');" data-options="iconCls:'icon-clear'" style="padding:5px 0px;width:80px;">
	            <span style="font-size:14px;" wms:text="${web.label.clear}">Clear</span>
	        </a>
	    </div>
	</div>
	<div th:replace="outbound/searchByTemplate"/>
</body>
<script type="text/javascript" th:src="@{/static/ui/plugins/datagrid-filter.js}"></script>
<script type="text/javascript" th:inline="text"></script>
<script type="text/javascript">
	var addFlag = true;
	$(function(){
		$('.wavetemplatesave').click(function(){
			if (addFlag){
				$('.common-confirmadd').trigger('click');
			}else{
				save('save');
			}
		});
	});
	function toEdit(data) {
		addFlag = false;
	    if (typeof(data) == 'object') {
	        editData = data;
	    }else{
	    	showError($.locale.selectOneRow);
	    }
	    var panel = '#addWaveTemplate';
	    lazyLoadView(panel);
	    init();
	    $(panel).dialog({
	        closed: true,
	        modal: true,
	        fix: true,
	    }).dialog('open');
	    $(panel).find('form').form('reset');
	    var from = $(panel).find('form');
	    $(from).form('load', editData);
	    loadDetail(editData);
	}
	
	function init(){
		carrierComboGrid("#carriers");
		skuComboGrid("#skus");
		customerComboGrid("#customers");
		ownerComboGrid("#owners");
	}
	
	function addDialog(){
		addFlag = true;
		$('#addForm').form('reset');
		$('#addWaveTemplate').dialog({}).dialog('open');
		init();
	}
	
	function searchOutbounds(){
		var checkedRows = $('#dataTable').datagrid('getChecked');
		if (checkedRows.length != 1) {
			showError($.locale.selectOneRow);
			return;
		}
		var rowData = checkedRows[0];
		findOutbound(rowData);
	}
	
	function loadDetail(wavebuild){
		var baseData = getBaseData(wavebuild);
		loading();
		var detail;
		$.post({
			url:getServiceUrl() + "/services/inner/outbound/waveTemplate/findDetail",
			data:baseData,
			async: false,
			success:function(data){
				data = returnData(data);
                closeLoading();
                if (data.code == '0') {
                    showError(data.msg);
                    return;
                }
                detail = data.data;
			}
		});
		
		if (detail.length == 0){
			return;
		}
		
		var detailobj = {};
		detail.forEach(function(v, index){
			detailobj[v.propertyCode + v.propertyExp] = v.propertyValue1;
		});
			

		//load type
		var types = detailobj['TypeIn'];
		if (types != undefined && types != ''){
			$('#types').combobox('setValue', types.split(','));
		}
		
		//load Owner
		var owners = detailobj['OwnerCodeIn'];
		if (owners != undefined && owners != ''){
			$('#owners').combogrid('setValue', owners.split(','));
		}
		
		//load Customer
		var customers = detailobj['CustomerCodeIn'];
		if (customers != undefined && customers != ''){
			$('#customers').combogrid('setValue', customers.split(','));
		}
		
		//load Carrier
		var carriers = detailobj['CarrierCodeIn'];
		if (carriers != undefined && carriers != ''){
			$('#carriers').combogrid('setValue', carriers.split(','));
		}
		
		//load SKU
		var skus = detailobj['SkuCodeIn'];
		if (skus != undefined && skus != ''){
			$('#skus').combogrid('setValue', skus.split(','));
		}
		
		//load Expected Date
		var expectedOutboundDateBegin = detailobj['ExpectedOutboundDateGreaterThanOrEqualTo'];
		if (expectedOutboundDateBegin != undefined && expectedOutboundDateBegin != ''){
			$('#expectedOutboundDateBegin').datebox('setValue', expectedOutboundDateBegin);
		}
		var expectedOutboundDateEnd = detailobj['ExpectedOutboundDateLessThanOrEqualTo'];
		if (expectedOutboundDateEnd != undefined && expectedOutboundDateEnd != ''){
			$('#expectedOutboundDateEnd').datebox('setValue', expectedOutboundDateEnd);
		}
		//load  quantityOrder
		var quantityOrderBegin = detailobj['QuantityOrderGreaterThanOrEqualTo'];
		if (quantityOrderBegin != undefined && quantityOrderBegin != ''){
			$('#quantityOrderBegin').numberbox('setValue', quantityOrderBegin);
		}
		var quantityOrderEnd = detailobj['QuantityOrderLessThanOrEqualTo'];
		if (quantityOrderEnd != undefined && quantityOrderEnd != ''){
			$('#quantityOrderEnd').numberbox('setValue', quantityOrderEnd);
		}
		return detailobj;
	}
	
	/* 新增 */
	function save(type){
		var form = '#addForm';
		var valid = $(form).form('validate');
		if (!valid) {
			return;
		}
		var data = $(form).serializeObject();
		data.detail = [];
		$("#addForm .commit").each(function(i,e){
			if($(e).val()){
				if($(e).data("expression") && $(e).data("property")){
					var val = $(e).val();
					if (val != ''){
						var detail = {};
						detail.propertyValue1 = val;
						detail.propertyExp = $(e).data("expression");
						detail.propertyCode = $(e).data("property");
						detail.propertyType = $(e).data("type");
						detail.tableName = $(e).data("table");
						if (detail.propertyType == 'decimal' && (val == '0' || val == '9999999999')){
							return;
						}
						data.detail.push(detail);
					}
				}
			}
		});
		var baseData = getBaseData();
		baseData.data = data;
		loading();
		$.post({
			url:getServiceUrl() + "/services/inner/outbound/waveTemplate/" + type,
			data:baseData,
			success:function(data){
				data = returnData(data);
                closeLoading();
                if (data.code == '0') {
                    showError(data.msg);
                    return;
                }
                $(form).form('reset');
                $('#addWaveTemplate').dialog('close');
                $("#dataTable").datagrid('reload').datagrid('clearChecked');
			}
		});
	}
	
	
	
	/**
	 * 承运人多选下拉列表
	 * @param element 选择器
	 * @returns
	 */
	function carrierComboGrid(element){
		commonCombogrid({
			selector:element,
			id:'carrierCode',
			text:'carrierCode',
			url: getServiceUrl() + '/services/inner/base/carrier/find',
			param:{}
		})
	}

	/**
	 * 货主多选下拉列表
	 * @param element 选择器
	 * @returns
	 */
	function ownerComboGrid(element){
		commonCombogrid({
			selector:element,
			id:'ownerCode',
			text:'ownerCode',
			url: getServiceUrl() + '/services/inner/base/owner/find',
			param:{}
		})
	}

	/**
	 * 客户多选下拉列表
	 * @param element 选择器
	 * @returns
	 */
	function customerComboGrid(element){
		commonCombogrid({
			selector:element,
			id:'customerCode',
			text:'customerCode',
			url: getServiceUrl() + '/services/inner/base/customer/find',
			param:{}
		})
	}

	/**
	 * 货品多选下拉列表
	 * @param element 选择器
	 * @returns
	 */
	function skuComboGrid(element){
		commonCombogrid({
			selector:element,
			id:'skuCode',
			text:'skuCode',
			url: getServiceUrl() + '/services/inner/base/sku/find',
			param:{}
		})
	}
	/**
	 * 多选下拉列表
	 * @param opts 选项
	 * @returns
	 */
	function commonCombogrid(opts){
		$(opts.selector).combogrid({
			panelWidth: 400,
			multiple: true,
			idField:opts.id,
			textField:opts.text,
			url: opts.url,
			method: 'post',
			queryParam:$.extend(opts.param,getBaseData()),
			pagenation:true,
			fitColumns: true
		});
	}
</script>
</html>
